Repository day1co/pebbles, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, enhancement, bug, maintenance, documentation, workflow

.github/labeler.yml:

repo:
  - '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - src/**/*.spec.ts

enhancement:
  - any: ['feat/*']

bug:
  - any: ['fix/*']

maintenance:
  - any: ['refactor/*']

documentation:
  - any: ['docs/*']

workflow:
  - any: ['workflow/*']

@day1co/pebbles: bump up to 3.1.22
  package-lock.json
  package.json
Labels: repo

fix: CredentialChangedException 파일명 수정
  src/exception/client-exception/credential-changed-exception.ts
  src/exception/client-exception/index.ts
Labels: none

fix: CredentialChangedException 파일명 수정
  src/exception/client-exception/credential-changed-exception.ts
  src/exception/client-exception/index.ts
Labels: none

@day1co/pebbles: bump up to 3.1.23
  package-lock.json
  package.json
Labels: repo

number-util: modify so that null is not allowed
  src/number-util/number-util.ts
Labels: none

number-util: add number-util test case
  src/number-util/number-util.spec.ts
Labels: test

feat: UnknownException 클래스 추가
  package-lock.json
  src/exception/index.ts
  src/exception/server-exception/index.ts
  src/exception/server-exception/unknown-exception.ts
  src/index.ts
Labels: repo

feat: UnknownException 클래스 추가
  package-lock.json
  src/exception/index.ts
  src/exception/server-exception/index.ts
  src/exception/server-exception/unknown-exception.ts
  src/index.ts
Labels: repo

@day1co/pebbles: bump up to 3.1.24
  package-lock.json
  package.json
Labels: repo

feat: HttpClient에 patch request 메소드를 추가
  src/http-client/http-client.spec.ts
  src/http-client/http-client.ts
Labels: test

feat: HttpClient에 patch request 메소드를 추가
  src/http-client/http-client.spec.ts
  src/http-client/http-client.ts
Labels: test

@day1co/pebbles: bump up to 3.1.25
  package-lock.json
  package.json
Labels: repo

feat: Logger interface에 log 메소드 추가
  src/logger/logger-impl/pino-logger.ts
  src/logger/logger.interface.ts
Labels: none

feat: log()는 debug()와 동일하도록 변경
  src/logger/logger-impl/pino-logger.ts
Labels: none

feat: Logger interface에 log 메소드 추가
  src/logger/logger-impl/pino-logger.ts
  src/logger/logger.interface.ts
Labels: none

feat: log()는 debug()와 동일하도록 변경
  src/logger/logger-impl/pino-logger.ts
Labels: none

@day1co/pebbles: bump up to 3.1.26
  package-lock.json
  package.json
Labels: repo

feat: Logger 에 trace 레벨을 추가
  src/logger/logger-impl/pino-logger.ts
  src/logger/logger.interface.ts
  src/logger/logger.type.ts
Labels: none

feat: Logger 에 trace 레벨을 추가
  src/logger/logger-impl/pino-logger.ts
  src/logger/logger.interface.ts
  src/logger/logger.type.ts
Labels: none

@day1co/pebbles: bump up to 3.1.27
  package-lock.json
  package.json
Labels: repo

feat: makeLiteralTypeList() 구현
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
  src/object-util/object-util.type.ts
Labels: test

feat: destructuring 이용
  src/object-util/object-util.spec.ts
Labels: test

feat: makeLiteralTypeList를 TypeUtil로 이동
  src/index.ts
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
  src/object-util/object-util.type.ts
  src/type-util/index.ts
  src/type-util/type-util.spec.ts
  src/type-util/type-util.ts
  src/type-util/type-util.type.ts
Labels: test

feat: makeLiteralTypeList() 구현
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
  src/object-util/object-util.type.ts
Labels: test

feat: makeLiteralTypeList를 TypeUtil로 이동
  src/index.ts
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
  src/object-util/object-util.type.ts
  src/type-util/index.ts
  src/type-util/type-util.spec.ts
  src/type-util/type-util.ts
  src/type-util/type-util.type.ts
Labels: test

feat: destructuring 이용
  src/object-util/object-util.spec.ts
Labels: test

@day1co/pebbles: bump up to 3.1.28
  package-lock.json
  package.json
Labels: repo

change masking policy about phone and fix bug about emoji and jp
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
Labels: test

change masking policy about phone and fix bug about emoji and jp
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
Labels: test

@day1co/pebbles: bump up to 3.1.29
  package-lock.json
  package.json
Labels: repo

feat: logger에서 undefined를 빈 스트링으로 처리하도록 수정
  package-lock.json
  package.json
  src/logger/logger-impl/pino-logger.ts
  src/logger/logger.interface.ts
Labels: repo

refactor: default value로 코드 간략화
  src/logger/logger-impl/pino-logger.ts
Labels: none

feat: logger에서 undefined를 빈 스트링으로 처리하도록 수정
  package-lock.json
  package.json
  src/logger/logger-impl/pino-logger.ts
  src/logger/logger.interface.ts
Labels: repo

refactor: default value로 코드 간략화
  src/logger/logger-impl/pino-logger.ts
Labels: none

@day1co/pebbles: bump up to 3.1.30
  package-lock.json
  package.json
Labels: repo

feat: TokenExpiredException 추가
  src/exception/client-exception/index.ts
  src/exception/client-exception/token-expired-exception.ts
  src/exception/exception.spec.ts
  src/exception/index.ts
Labels: test

feat: TokenExpiredException 추가
  src/exception/client-exception/index.ts
  src/exception/client-exception/token-expired-exception.ts
  src/exception/exception.spec.ts
  src/exception/index.ts
Labels: test

@day1co/pebbles: bump up to 3.1.31
  package-lock.json
  package.json
Labels: repo

fix: isNumeric 공백 처리
  src/number-util/number-util.spec.ts
  src/number-util/number-util.ts
Labels: test

fix: isNumeric 공백 처리
  src/number-util/number-util.spec.ts
  src/number-util/number-util.ts
Labels: test
