Repository day1co/pebbles, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, enhancement, bug, maintenance, documentation, workflow

.github/labeler.yml:

repo:
  - '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - src/**/*.spec.ts

enhancement:
  - any: ['feat/*']

bug:
  - any: ['fix/*']

maintenance:
  - any: ['refactor/*']

documentation:
  - any: ['docs/*']

workflow:
  - any: ['workflow/*']

feat: 시간대에 따른 시작 및 끝 시간 계산 기능 추가
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

feat: 시간대에 따른 시작 및 끝 시간 계산 기능 추가
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

@day1co/pebbles: bump up to 3.3.13
  package-lock.json
  package.json
Labels: repo

add mask type default for masking all text
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
  src/string-util/string-util.type.ts
Labels: test

add mask type default for masking all text
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
  src/string-util/string-util.type.ts
Labels: test

@day1co/pebbles: bump up to 3.3.14
  package-lock.json
  package.json
Labels: repo

feat: UnprocessableEntityException 추가
  src/exception/client-exception/index.ts
  src/exception/client-exception/unprocessable-entity-exception.ts
  src/exception/index.ts
Labels: none

feat: UnprocessableEntityException 추가
  src/exception/client-exception/index.ts
  src/exception/client-exception/unprocessable-entity-exception.ts
  src/exception/index.ts
Labels: none

@day1co/pebbles: bump up to 3.3.15
  package-lock.json
  package.json
Labels: repo

feat: add too many requests error
  src/exception/client-exception/too-many-requests-exception.ts
Labels: none

feat: add too many requests error
  src/exception/client-exception/too-many-requests-exception.ts
Labels: none

@day1co/pebbles: bump up to 3.3.16
  package-lock.json
  package.json
Labels: repo

fix: export exception
  src/exception/client-exception/index.ts
  src/exception/index.ts
  src/index.ts
Labels: none

fix: export exception
  src/exception/client-exception/index.ts
  src/exception/index.ts
  src/index.ts
Labels: none

@day1co/pebbles: bump up to 3.3.17
  package-lock.json
  package.json
Labels: repo

feat/modify member_clip_progress interval logic
  src/time-range/time-range.spec.ts
  src/time-range/time-range.ts
Labels: test

feat/modify member_clip_progress interval logic
  src/time-range/time-range.spec.ts
  src/time-range/time-range.ts
Labels: test

@day1co/pebbles: bump up to 3.3.18
  package-lock.json
  package.json
Labels: repo

feat: add ezwel seed encoder/decoder method
  src/crypto-util/crypto-util.spec.ts
  src/crypto-util/crypto-util.ts
  src/crypto-util/ezwel-seed.d.ts
  src/crypto-util/ezwel-seed.js
Labels: test

feat: add ezwel seed encoder/decoder method
  src/crypto-util/crypto-util.spec.ts
  src/crypto-util/crypto-util.ts
  src/crypto-util/ezwel-seed.d.ts
  src/crypto-util/ezwel-seed.js
Labels: test

@day1co/pebbles: bump up to 3.3.19
  package-lock.json
  package.json
Labels: repo

feat: change compiler options for js file
  tsconfig.json
Labels: repo

feat: change compiler options for js file
  tsconfig.json
Labels: repo

@day1co/pebbles: bump up to 3.3.20
  package-lock.json
  package.json
Labels: repo

fix: add missing TextEncoder/TextDecoder definition (??)
  src/crypto-util/TextEncoder.d.ts
Labels: none

fix: add missing TextEncoder/TextDecoder definition (??)
  src/crypto-util/TextEncoder.d.ts
Labels: none

@day1co/pebbles: bump up to 3.3.21
  package-lock.json
  package.json
Labels: repo

fix: remove TextEncoder from node:util
  src/crypto-util/crypto-util.spec.ts
  src/crypto-util/crypto-util.ts
Labels: test

fix: remove TextEncoder from node:util
  src/crypto-util/crypto-util.spec.ts
  src/crypto-util/crypto-util.ts
Labels: test

@day1co/pebbles: bump up to 3.3.22
  package-lock.json
  package.json
Labels: repo

feat: remove unused type def
  src/crypto-util/TextEncoder.d.ts
Labels: none

feat: remove unused type def
  src/crypto-util/TextEncoder.d.ts
Labels: none

@day1co/pebbles: bump up to 3.3.23
  package-lock.json
  package.json
Labels: repo

refactor: date-util remove namespace
  src/date-util/date-util.interface.ts
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
  src/date-util/index.ts
Labels: test

refactor: crypto-util remove namespace
  src/crypto-util/crypto-util.spec.ts
  src/crypto-util/crypto-util.ts
  src/crypto-util/index.ts
Labels: test

refactor: boolean-util remove namespace
  src/boolean-util/boolean-util.spec.ts
  src/boolean-util/boolean-util.ts
  src/boolean-util/index.ts
Labels: test

refactor: array-util remove namespace
  src/array-util/array-util.spec.ts
  src/array-util/array-util.ts
  src/array-util/index.ts
Labels: test

refactor: change export
  src/index.ts
Labels: none

refactor: map-util remove namespace
  src/map-util/index.ts
  src/map-util/map-util.spec.ts
  src/map-util/map-util.ts
Labels: test

refactor: misc-util remove namespace
  src/misc-util/index.ts
  src/misc-util/misc-util.spec.ts
  src/misc-util/misc-util.ts
Labels: test
