Repository day1co/pebbles, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, enhancement, bug, maintenance, documentation, workflow

.github/labeler.yml:

repo:
  - '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - src/**/*.spec.ts

enhancement:
  - any: ['feat/*']

bug:
  - any: ['fix/*']

maintenance:
  - any: ['refactor/*']

documentation:
  - any: ['docs/*']

workflow:
  - any: ['workflow/*']

refactor: money-util remove namespace
  src/money-util/index.ts
  src/money-util/money-util.spec.ts
  src/money-util/money-util.ts
Labels: test

refactor: number-util remove namespace
  src/number-util/index.ts
  src/number-util/number-util.spec.ts
  src/number-util/number-util.ts
Labels: test

refactor: search-util remove namespace
  src/search-util/index.ts
  src/search-util/search-util.spec.ts
  src/search-util/search-util.ts
Labels: test

refactor: string-util remove namespace
  src/string-util/index.ts
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
Labels: test

refactor: type-util remove namespace
  src/type-util/type-util.spec.ts
  src/type-util/type-util.ts
Labels: test

feature: added Nullish type for clarity
  src/type-util/index.ts
  src/type-util/type-util.type.ts
Labels: none

refactor: object-util remove namespace
  src/object-util/index.ts
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: test

refactor: cleaning up deprecated types
  src/http-client/http-client.type.ts
  src/http-client/index.ts
Labels: none

refactor: change import in time-range
  src/time-range/time-range.spec.ts
  src/time-range/time-range.ts
Labels: test

refactor: change export
  src/index.ts
Labels: none

refactor: fix type-util comments
  src/type-util/type-util.type.ts
Labels: none

misc: update major version
  package.json
Labels: repo

refactor: remove deprecated functions
  src/date-util/date-util-base.type.ts
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
  src/date-util/index.ts
Labels: test

refactor: change function names to avoid name collisions
  src/number-util/index.ts
  src/number-util/number-util.spec.ts
  src/number-util/number-util.ts
  src/string-util/index.ts
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
Labels: test

refactor: boolean-util: valueOfBoolean -> parseBooleanString
  src/boolean-util/boolean-util.ts
Labels: none

refactor: map-util: removed getMapValue (unused method)
  src/map-util/map-util.spec.ts
  src/map-util/map-util.ts
Labels: test

refactor: number-util: valueOf(Number) removed (unused method)
  src/number-util/number-util.ts
Labels: none

refactor: object-util: deprecate redundant methods
  src/object-util/object-util.ts
Labels: none

refactor: string-util: deprecate redundant methods
  src/string-util/string-util.ts
Labels: none

refactor: byte-unit-converter: publicize toString()
  src/unit-util/unit-converters/byte-unit-converter.ts
Labels: none

refactor: string-util: undeprecate tag functions & cleanup
  src/string-util/string-util.ts
Labels: none

Revert "refactor: boolean-util: valueOfBoolean -> parseBooleanString"
  src/boolean-util/boolean-util.ts
Labels: none

refactor: boolean-util: valueOfBoolean -> parseBoolean
  src/boolean-util/boolean-util.ts
  src/boolean-util/index.ts
Labels: none

lint fix
  src/boolean-util/boolean-util.spec.ts
  src/map-util/index.ts
  src/number-util/index.ts
  src/number-util/number-util.spec.ts
  src/string-util/string-util.ts
Labels: test

refactor: change function names to avoid name collisions
  src/date-util/date-util-base.type.ts
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
  src/date-util/index.ts
  src/number-util/index.ts
  src/number-util/number-util.spec.ts
  src/number-util/number-util.ts
  src/string-util/index.ts
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
Labels: test

refactor: map-util: removed getMapValue (unused method)
  src/map-util/map-util.spec.ts
  src/map-util/map-util.ts
Labels: test

refactor: string-util: deprecate redundant methods
  src/string-util/string-util.ts
Labels: none

refactor: object-util: deprecate redundant methods
  src/object-util/object-util.ts
Labels: none

refactor: number-util: valueOf(Number) removed (unused method)
  src/number-util/number-util.ts
Labels: none

refactor: boolean-util: valueOfBoolean -> parseBooleanString
  src/boolean-util/boolean-util.ts
Labels: none

refactor: byte-unit-converter: publicize toString()
  src/unit-util/unit-converters/byte-unit-converter.ts
Labels: none

refactor: string-util: undeprecate tag functions & cleanup
  src/string-util/string-util.ts
Labels: none

refactor: remove deprecated functions
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
  src/date-util/index.ts
Labels: test

Revert "refactor: boolean-util: valueOfBoolean -> parseBooleanString"
  src/boolean-util/boolean-util.ts
Labels: none

refactor: boolean-util: valueOfBoolean -> parseBoolean
  src/boolean-util/boolean-util.ts
  src/boolean-util/index.ts
Labels: none

lint fix
  src/boolean-util/boolean-util.spec.ts
  src/map-util/index.ts
  src/number-util/index.ts
  src/number-util/number-util.spec.ts
  src/string-util/string-util.ts
Labels: test

refactor: boolean-util: valueOfBoolean -> parseBoolean
  src/boolean-util/boolean-util.ts
  src/boolean-util/index.ts
Labels: none

refactor: object-util: deprecate redundant methods
  src/object-util/object-util.ts
Labels: none

refactor: remove deprecated functions
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
  src/date-util/index.ts
Labels: test

refactor: number-util: valueOf(Number) removed (unused method)
  src/number-util/number-util.ts
Labels: none
