Repository day1co/pebbles, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, enhancement, bug, maintenance, documentation, workflow

.github/labeler.yml:

repo:
  - '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - src/**/*.spec.ts

enhancement:
  - any: ['feat/*']

bug:
  - any: ['fix/*']

maintenance:
  - any: ['refactor/*']

documentation:
  - any: ['docs/*']

workflow:
  - any: ['workflow/*']

reflect review by the PR
  src/money-util/money-util.spec.ts
  src/money-util/money-util.ts
  src/money-util/money.const.ts
  src/money-util/money.type.ts
  src/number-util/number-util.spec.ts
  src/number-util/number-util.ts
Labels: test

refactor: nomalizePhoneNumber covers fastcampus/util normalizePhone and normalizeKoreaPhoneNumber
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
Labels: test

change test
  src/string-util/string-util.spec.ts
Labels: test

add arguments for fallback in nomalizePhoneNumber
  src/string-util/string-util.ts
Labels: none

reflect review by the pr: remove duplicated type
  src/date-util/date-util.ts
  src/date-util/date-util.type.ts
Labels: none

add test cases
  src/string-util/string-util.spec.ts
Labels: test

mv numberUtil -> moneyUtil
  src/index.ts
  src/money-util/index.ts
  src/money-util/money-util.spec.ts
  src/money-util/money-util.ts
Labels: test

reflect review by the PR
  src/money-util/money-util.spec.ts
  src/money-util/money-util.ts
  src/money-util/money.const.ts
  src/money-util/money.type.ts
  src/number-util/number-util.spec.ts
  src/number-util/number-util.ts
Labels: test

feat : formatNumberAsCurrency
  src/number-util/number-util.spec.ts
  src/number-util/number-util.ts
Labels: test

reflect review by the PR: input type change and remove unused code
  src/number-util/number-util.spec.ts
  src/number-util/number-util.ts
Labels: test

@day1co/pebbles: bump up to 3.1.39
  package-lock.json
  package.json
Labels: repo

apply standard config
  .eslintrc.js
  .prettierrc
  .prettierrc.js
  package-lock.json
  package.json
  tsconfig.json
Labels: repo

add @tsconfig/node-lts and reflect by new configs
  package-lock.json
  package.json
  src/exception/custom-exception.ts
  src/misc-util/misc-util.ts
  tsconfig.json
Labels: repo

feat: hms to seconds
  src/date-util/date-util.ts
Labels: none

add valid for format
  src/date-util/date-util.ts
Labels: none

reflect review : add unitType and check if valid time format
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
  src/date-util/date-util.type.ts
Labels: test

add test
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

add logger and throw error to 0
  src/date-util/date-util.ts
Labels: none

reflect review by the pr: remove duplicated type
  src/date-util/date-util.ts
  src/date-util/date-util.type.ts
Labels: none

change logic and add test
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

change test
  src/string-util/string-util.spec.ts
Labels: test

add @tsconfig/node-lts and reflect by new configs
  package-lock.json
  package.json
  src/exception/custom-exception.ts
  src/misc-util/misc-util.ts
  tsconfig.json
Labels: repo

feat:add-normalizePhoneNumber
  src/string-util/string-util.ts
  tsconfig.json
Labels: repo

refactor: nomalizePhoneNumber covers fastcampus/util normalizePhone and normalizeKoreaPhoneNumber
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
Labels: test

apply standard config
  .eslintrc.js
  .prettierrc
  .prettierrc.js
  package-lock.json
  package.json
  tsconfig.json
Labels: repo

add arguments for fallback in nomalizePhoneNumber
  src/string-util/string-util.ts
Labels: none

add test cases
  src/string-util/string-util.spec.ts
Labels: test

@day1co/pebbles: bump up to 3.1.40
  package-lock.json
  package.json
Labels: repo

change GitHub token in secrets to GH_TOKEN
  .github/workflows/ci-test.yml
  .github/workflows/npm-publish.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-drafter.yml
Labels: none

change GitHub token in secrets to GH_TOKEN
  .github/workflows/ci-test.yml
  .github/workflows/npm-publish.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-drafter.yml
Labels: none

add const
  src/date-util/date-util.const.ts
Labels: none

feat/calc-week
  src/date-util/date-util.interface.ts
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

remove unused log
  src/date-util/date-util.ts
Labels: none

add new consts in index.ts
  src/date-util/index.ts
  src/index.ts
Labels: none

reflect feedback by the PR change timezone type string to typeof const
  src/date-util/date-util-base.type.ts
  src/date-util/date-util.const.ts
Labels: none

feat/calc-week
  src/date-util/date-util.interface.ts
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

reflect feedback by the PR change timezone type string to typeof const
  src/date-util/date-util-base.type.ts
  src/date-util/date-util.const.ts
Labels: none

remove unused log
  src/date-util/date-util.ts
Labels: none

add new consts in index.ts
  src/date-util/index.ts
  src/index.ts
Labels: none

add const
  src/date-util/date-util.const.ts
Labels: none
