Repository day1co/pebbles, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, enhancement, bug, maintenance, documentation, workflow

.github/labeler.yml:

repo:
  - '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - src/**/*.spec.ts

enhancement:
  - any: ['feat/*']

bug:
  - any: ['fix/*']

maintenance:
  - any: ['refactor/*']

documentation:
  - any: ['docs/*']

workflow:
  - any: ['workflow/*']

add test case decimal
  src/number-util/number-util.spec.ts
Labels: test

time-ragne: fix cale decimal interval
  src/time-range/time-range.spec.ts
  src/time-range/time-range.ts
Labels: test

@day1co/pebbles: bump up to 3.1.58
  package-lock.json
  package.json
Labels: repo

time-range: default decimal 0
  src/number-util/number-util.spec.ts
  src/time-range/time-range.ts
Labels: test

rollback test roundup
  src/number-util/number-util.spec.ts
Labels: test

fix time-range test
  src/time-range/time-range.spec.ts
Labels: test

add testcode
  src/time-range/time-range.spec.ts
Labels: test

misc: add dependabot
  .github/dependabot.yml
Labels: none

money-util: fix typing for unused vars
  src/money-util/money.type.ts
Labels: none

money-util: fix typing for unused vars
  src/money-util/money.type.ts
Labels: none

@day1co/pebbles: bump up to 3.1.59
  package-lock.json
  package.json
Labels: repo

misc: npm audit fix for axios
  package-lock.json
  package.json
Labels: repo

misc: upgrade dev deps toolchain
  package-lock.json
  package.json
  src/exception/exception.spec.ts
Labels: repo, test

misc: fix build by lint/prettier
  src/array-util/array-util.spec.ts
  src/money-util/money.type.ts
  src/time-range/time-range.ts
Labels: test

money-util: fix typing for unused vars
  src/money-util/money.type.ts
Labels: none

add increaseCorrection time-range
  src/number-util/number-util.ts
  src/time-range/time-range.spec.ts
  src/time-range/time-range.ts
Labels: test

misc: upgrade dev deps toolchain
  package-lock.json
  package.json
  src/exception/exception.spec.ts
Labels: repo, test

money-util: fix typing for unused vars
  src/money-util/money.type.ts
Labels: none

misc: fix build by lint/prettier
  src/array-util/array-util.spec.ts
  src/money-util/money.type.ts
  src/time-range/time-range.ts
Labels: test

misc: npm audit fix for axios
  package-lock.json
  package.json
Labels: repo

misc: update package version to 3.2.1
  package-lock.json
  package.json
Labels: repo

remove cale correction
  src/time-range/time-range.spec.ts
  src/time-range/time-range.ts
Labels: test

feat: CryptoUtil 추가
  src/crypto-util/crypto-util.spec.ts
  src/crypto-util/crypto-util.ts
  src/crypto-util/index.ts
Labels: test

fix: @types/node 의존성 추가
  package-lock.json
  package.json
Labels: repo

feat: CryptoUtil 추가
  src/crypto-util/crypto-util.spec.ts
  src/crypto-util/crypto-util.ts
  src/crypto-util/index.ts
Labels: test

fix: @types/node 의존성 추가
  package-lock.json
  package.json
Labels: repo

@day1co/pebbles: bump up to 3.2.2
  package-lock.json
  package.json
Labels: repo

add increaseCorrection time-range
  src/number-util/number-util.ts
  src/time-range/time-range.spec.ts
  src/time-range/time-range.ts
Labels: test

remove cale correction
  src/time-range/time-range.spec.ts
  src/time-range/time-range.ts
Labels: test

@day1co/pebbles: bump up to 3.2.3
  package-lock.json
  package.json
Labels: repo

feat: createAesKey 추가
  src/crypto-util/crypto-util.spec.ts
  src/crypto-util/crypto-util.ts
Labels: test

feat: createAesKey 추가
  src/crypto-util/crypto-util.spec.ts
  src/crypto-util/crypto-util.ts
Labels: test

@day1co/pebbles: bump up to 3.2.4
  package-lock.json
  package.json
Labels: repo

fix: CryptoUtil to index
  src/index.ts
Labels: none

fix: CryptoUtil to index
  src/index.ts
Labels: none

@day1co/pebbles: bump up to 3.2.5
  package-lock.json
  package.json
Labels: repo

misc: add dependabot
  .github/dependabot.yml
Labels: none

fix: remove declare globalThis crypto
  src/crypto-util/crypto-util.ts
Labels: none

fix: remove declare globalThis crypto
  src/crypto-util/crypto-util.ts
Labels: none

@day1co/pebbles: bump up to 3.2.6
  package-lock.json
  package.json
Labels: repo
