Repository day1co/pebbles, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, enhancement, bug, maintenance, documentation, workflow

feat: 변수명 및 타입 변경
  src/date-util/date-util.ts
Labels: none

feat: modify test code
  src/date-util/date-util.spec.ts
Labels: test

feat: 해당 날짜가 마지막 날짜인지 체크 함수
  src/date-util/date-util.ts
Labels: none

feat: add test code
  src/date-util/date-util.spec.ts
Labels: test

@day1co/pebbles: bump up to 3.0.2
  package-lock.json
  package.json
Labels: repo

feat: HttpClient에 생성자 추가 및 HttpRes를 HttpResponse로 변경
  src/http-client/http-client.spec.ts
  src/http-client/http-client.ts
  src/http-client/http-client.type.ts
  src/http-client/index.ts
  src/index.ts
Labels: test

feat: HttpClient에 생성자 추가 및 HttpRes를 HttpResponse로 변경
  src/http-client/http-client.spec.ts
  src/http-client/http-client.ts
  src/http-client/http-client.type.ts
  src/http-client/index.ts
  src/index.ts
Labels: test

@day1co/pebbles: bump up to 3.0.3
  package-lock.json
  package.json
Labels: repo

feat: DateUtil - beginOfDay, endOfDay 추가
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

feat: DateUtil - beginOfDay, endOfDay 추가
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

@day1co/pebbles: bump up to 3.0.4
  package-lock.json
  package.json
Labels: repo

add isNumeric method to NumberUtil
  src/number-util/number-util.spec.ts
  src/number-util/number-util.ts
Labels: test

update param type to string
  src/number-util/number-util.ts
Labels: none

add isNumeric method to NumberUtil
  src/number-util/number-util.spec.ts
  src/number-util/number-util.ts
Labels: test

update param type to string
  src/number-util/number-util.ts
Labels: none

@day1co/pebbles: bump up to 3.0.5
  package-lock.json
  package.json
Labels: repo

feat: Readonly 적용
  src/http-client/http-client.ts
  src/misc-util/misc-util.interface.ts
  src/misc-util/misc-util.ts
  src/object-util/object-util.ts
  src/string-util/string-util.interface.ts
  src/string-util/string-util.ts
  tsconfig.json
Labels: repo

feat: getNonce()의 길이 제한 없앰
  src/object-util/object-util.ts
  src/string-util/string-util.ts
Labels: none

feat: http-client 테스트를 서버 없이도 동작하도록 수정
  src/http-client/http-client.spec.ts
Labels: test

feat: getNonce()의 길이 제한 없앰
  src/object-util/object-util.ts
  src/string-util/string-util.ts
Labels: none

feat: http-client 테스트를 서버 없이도 동작하도록 수정
  src/http-client/http-client.spec.ts
Labels: test

feat: Readonly 적용
  src/http-client/http-client.ts
  src/misc-util/misc-util.interface.ts
  src/misc-util/misc-util.ts
  src/object-util/object-util.ts
  src/string-util/string-util.interface.ts
  src/string-util/string-util.ts
  tsconfig.json
Labels: repo

@day1co/pebbles: bump up to 3.0.6
  package-lock.json
  package.json
Labels: repo

workflow: ci test 실행 오류 수정
  .github/workflows/ci-test.yml
Labels: none

refactor: calcDatetime 코드를 더 짧고 더 효율적으로
  src/date-util/date-util.ts
Labels: none

fix: warning 줄이기
  src/date-util/date-util.ts
Labels: none

fix: utcOffset 함수는 불필요하다
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

fix: 상수값 오류 수정
  src/date-util/date-util.ts
Labels: none

workflow: 테스트는 모든 PR에서 동작하도록 변경
  .github/workflows/ci-test.yml
Labels: none

workflow: actions/checkout 버전 수정
  .github/workflows/ci-test.yml
  .github/workflows/npm-publish.yml
  package.json
Labels: repo

feat: parse를 표준에 맞게 수정 및 startOf, endOf 추가
  src/date-util/date-util.interface.ts
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
  src/date-util/date-util.type.ts
Labels: test

feat: import 오류 수정
  package-lock.json
  src/date-util/index.ts
Labels: repo

refactor: startOf, endOf의 코드 간결화
  src/date-util/date-util.ts
Labels: none

refactor: startOf, endOf의 코드 간결화
  src/date-util/date-util.ts
Labels: none

feat: import 오류 수정
  package-lock.json
  src/date-util/index.ts
Labels: repo

feat: parse를 표준에 맞게 수정 및 startOf, endOf 추가
  src/date-util/date-util.interface.ts
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
  src/date-util/date-util.type.ts
Labels: test

refactor: parseByFormat 코드 간략화
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

fix: 테스트 오류 수정
  src/date-util/date-util.spec.ts
Labels: test

refactor: parseByFormat 코드 간략화
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

fix: 테스트 오류 수정
  src/date-util/date-util.spec.ts
Labels: test

.github/labeler.yml:

repo:
  - '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - src/**/*.spec.ts

enhancement:
  - any: ['feat/*']

bug:
  - any: ['fix/*']

maintenance:
  - any: ['refactor/*']

documentation:
  - any: ['docs/*']

workflow:
  - any: ['workflow/*']
