Repository day1co/pebbles, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, enhancement, bug, maintenance, documentation, workflow

.github/labeler.yml:

repo:
  - '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - src/**/*.spec.ts

enhancement:
  - any: ['feat/*']

bug:
  - any: ['fix/*']

maintenance:
  - any: ['refactor/*']

documentation:
  - any: ['docs/*']

workflow:
  - any: ['workflow/*']

@day1co/pebbles: bump up to 3.1.41
  package-lock.json
  package.json
Labels: repo

feat/parse covers undefined and no args
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

feat/parse covers undefined and no args
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

feat: Add MapUtil.groupByKey
  src/map-util/map-util.spec.ts
  src/map-util/map-util.ts
Labels: test

Revert "feat: Add MapUtil.groupByKey"
  src/map-util/map-util.spec.ts
  src/map-util/map-util.ts
Labels: test

Revert "feat: Add MapUtil.groupByKey"
  src/map-util/map-util.spec.ts
  src/map-util/map-util.ts
Labels: test

feat: Add MapUtil.groupByKey
  src/map-util/map-util.spec.ts
  src/map-util/map-util.ts
Labels: test

feat: Add MapUtil.groupByKey
  src/map-util/map-util.spec.ts
  src/map-util/map-util.ts
Labels: test

@day1co/pebbles: bump up to 3.1.42
  package-lock.json
  package.json
Labels: repo

fix: MapUtil is not a type
  src/index.ts
Labels: none

fix: MapUtil is not a type
  src/index.ts
Labels: none

@day1co/pebbles: bump up to 3.1.43
  package-lock.json
  package.json
Labels: repo

feat: ArrayUtil.innerJoin / leftJoin
  src/array-util/array-util.spec.ts
  src/array-util/array-util.ts
  src/array-util/index.ts
  src/index.ts
Labels: test

feat: callback 대신 단일 키를 사용할 수 있도록 기능 추가
  src/array-util/array-util.spec.ts
  src/array-util/array-util.ts
Labels: test

feat: ArrayUtil.innerJoin / leftJoin
  src/array-util/array-util.spec.ts
  src/array-util/array-util.ts
  src/array-util/index.ts
  src/index.ts
Labels: test

feat: callback 대신 단일 키를 사용할 수 있도록 기능 추가
  src/array-util/array-util.spec.ts
  src/array-util/array-util.ts
Labels: test

@day1co/pebbles: bump up to 3.1.44
  package-lock.json
  package.json
Labels: repo

fix: array-util 스펙 수정
  src/array-util/array-util.spec.ts
Labels: test

feat: Add UserUncertifiedEmailException
  src/exception/client-exception/index.ts
  src/exception/client-exception/user-uncertified-email-exception.ts
  src/exception/index.ts
  src/index.ts
Labels: none

feat: Add UserDuplicatedException
  src/exception/client-exception/index.ts
  src/exception/client-exception/user-duplicated-exception.ts
  src/exception/index.ts
  src/index.ts
Labels: none

feat: Add UserInfoNotFoundException
  src/exception/client-exception/index.ts
  src/exception/client-exception/user-info-not-found-exception.ts
  src/exception/index.ts
  src/index.ts
Labels: none

feat: Add UserRegistrationException
  src/exception/client-exception/index.ts
  src/exception/client-exception/user-registration-exception.ts
  src/exception/index.ts
  src/index.ts
Labels: none

feat: Add UserPasswordChangedException
  src/exception/client-exception/index.ts
  src/exception/client-exception/user-password-changed-exception.ts
  src/exception/index.ts
  src/index.ts
Labels: none

feat: MapUtil.groupBy 추가
  src/map-util/map-util.spec.ts
  src/map-util/map-util.ts
Labels: test

feat: MapUtil.groupBy 추가
  src/map-util/map-util.spec.ts
  src/map-util/map-util.ts
Labels: test

@day1co/pebbles: bump up to 3.1.45
  package-lock.json
  package.json
Labels: repo

number-util: feat add toPermyriad and fromPermyriad
  src/number-util/number-util.spec.ts
  src/number-util/number-util.ts
Labels: test

feat: PickWithPartial, RequiredPartialProps 추가
  src/type-util/index.ts
  src/type-util/type-util.spec.ts
  src/type-util/type-util.type.ts
Labels: test

number-util: feat add toPermyriad and fromPermyriad
  src/number-util/number-util.spec.ts
  src/number-util/number-util.ts
Labels: test

@day1co/pebbles: bump up to 3.1.46
  package-lock.json
  package.json
Labels: repo

feat: PickWithPartial, RequiredPartialProps 추가
  src/type-util/index.ts
  src/type-util/type-util.spec.ts
  src/type-util/type-util.type.ts
Labels: test

@day1co/pebbles: bump up to 3.1.47
  package-lock.json
  package.json
Labels: repo

refactor: Add some descriptions about date-util functions
  src/date-util/date-util.ts
Labels: none

refactor: Add some descriptions about date-util functions
  src/date-util/date-util.ts
Labels: none

@day1co/pebbles: bump up to 3.1.48
  package-lock.json
  package.json
Labels: repo

feat: Add fromNow()
  package.json
  src/date-util/date-util.interface.ts
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: repo, test

refactor: Testcodes descriptions
  src/date-util/date-util.spec.ts
Labels: test

feat: restone-policy에 정의된 타입 이전(Nullable, Arrayable)
  src/type-util/index.ts
  src/type-util/type-util.type.ts
Labels: none

feat: restone-policy에 정의된 타입 이전(Nullable, Arrayable)
  src/type-util/index.ts
  src/type-util/type-util.type.ts
Labels: none

@day1co/pebbles: bump up to 3.1.49
  package-lock.json
  package.json
Labels: repo
