Repository day1co/pebbles, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, enhancement, bug, maintenance, documentation, workflow

.github/labeler.yml:

repo:
  - '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - src/**/*.spec.ts

enhancement:
  - any: ['feat/*']

bug:
  - any: ['fix/*']

maintenance:
  - any: ['refactor/*']

documentation:
  - any: ['docs/*']

workflow:
  - any: ['workflow/*']

fix: index.d.ts 오타 수정
  package.json
Labels: repo

fix: index.d.ts 오타 수정
  package.json
Labels: repo

workflow: package-lock.json 도 커밋에 포함
  .github/workflows/npm-publish.yml
Labels: none

FIX: git commit with package-lock.json
  .github/workflows/npm-publish.yml
Labels: none

feat:http-client에 SERVICE_UNAVAILABLE 추가
  src/http-client/http-client.spec.ts
  src/http-client/http-state.enum.ts
Labels: test

fix: lodash 라이브러리 걷어내도록 수정 및 테스트케이스 보강
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: test

fix: package.json 파일에서 lodash dependency 제거
  package.json
Labels: repo

fix: package-lock.json에서 제거
  package-lock.json
Labels: repo

feat:http-client에 SERVICE_UNAVAILABLE 추가
  src/http-client/http-client.spec.ts
  src/http-client/http-state.enum.ts
Labels: test

FIX: git commit with package-lock.json
  .github/workflows/npm-publish.yml
Labels: none

fix: package-lock.json에서 제거
  package-lock.json
Labels: repo

fix: package.json 파일에서 lodash dependency 제거
  package.json
Labels: repo

fix: lodash 라이브러리 걷어내도록 수정 및 테스트케이스 보강
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: test

feat: 테스트코드 수정 및 dependencies 알파벳 순으로
  package.json
  src/object-util/object-util.spec.ts
Labels: repo, test

feat: lodash 라이브러리를 import 하여 cloneDeep 구현
  package-lock.json
  package.json
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: repo, test

@day1co/pebbles: bump up to 0.0.2
  package-lock.json
  package.json
Labels: repo

fix:package.json 버전 0.0.3으로 올림
  package.json
Labels: repo

fix:package.json 버전 0.0.3으로 올림
  package.json
Labels: repo

workflow: passing hook url when calling send slack func
  .github/npm-publish-slack.sh
  .github/workflows/npm-publish.yml
Labels: none

workflow: passing hook url when calling send slack func
  .github/npm-publish-slack.sh
  .github/workflows/npm-publish.yml
Labels: none

workflow: fix release drafter add wirte permission
  .github/workflows/release-drafter.yml
Labels: none

fix: package-lock.json을 최신화
  package-lock.json
Labels: repo

fix: package-lock.json을 최신화
  package-lock.json
Labels: repo

@day1co/pebbles: bump up to 0.0.4
  package-lock.json
  package.json
Labels: repo

fix: deepClone 대상을 object로 제한함
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: test

fix: deepClone 지원 타입 제한 및 테스트 추가
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: test

fix: Buffer 타입 추가
  src/object-util/object-util.ts
Labels: none

feat: Map과 Set에 대한 deep clone 구현
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
  src/object-util/object-util.type.ts
Labels: test

fix: Array clone test 수정
  src/object-util/object-util.spec.ts
Labels: test

workflow: fix release drafter add wirte permission
  .github/workflows/release-drafter.yml
Labels: none

fix: http-state-enum을 숫자 열거형으로 변경 및 spec 파일에서 http2 모듈로 검증하도록 수정
  src/http-client/http-client.spec.ts
  src/http-client/http-state.enum.ts
Labels: test

fix: http-state-enum을 숫자 열거형으로 변경 및 spec 파일에서 http2 모듈로 검증하도록 수정
  src/http-client/http-client.spec.ts
  src/http-client/http-state.enum.ts
Labels: test

@day1co/pebbles: bump up to 0.0.5
  package-lock.json
  package.json
Labels: repo

fix: Buffer class에 대한 내용을 삭제한다
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: test

fix: 테스트 오류 수정
  src/object-util/object-util.spec.ts
Labels: test

fix: 원본 객체의 constructor를 이용하는 형식으로 변경
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: test

fix: 코드에서 Buffer는 제거
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: test

fix: Buffer 타입 추가
  src/object-util/object-util.ts
Labels: none

fix: 테스트 오류 수정
  src/object-util/object-util.spec.ts
Labels: test

fix: deepClone 대상을 object로 제한함
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: test
