Repository day1co/pebbles, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, enhancement, bug, maintenance, documentation, workflow

.github/labeler.yml:

repo:
  - '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - src/**/*.spec.ts

enhancement:
  - any: ['feat/*']

bug:
  - any: ['fix/*']

maintenance:
  - any: ['refactor/*']

documentation:
  - any: ['docs/*']

workflow:
  - any: ['workflow/*']

feat: 전화번호 정규화시에 trim 처리
  src/string-util/string-util.ts
Labels: none

feat: normalizeKoreaPhoneNumber 테스트 정리
  src/string-util/string-util.spec.ts
Labels: test

feat: 한국 전화번호에 대한 처리
  package-lock.json
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
Labels: repo, test

feat: 전화번호 정규화시에 trim 처리
  src/string-util/string-util.ts
Labels: none

feat: normalizeKoreaPhoneNumber 테스트 정리
  src/string-util/string-util.spec.ts
Labels: test

feat: 전화번호에 050x- 케이스 추가
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
Labels: test

@day1co/pebbles: bump up to 3.1.7
  package-lock.json
  package.json
Labels: repo

feat: normalize에서 throw를 하지 말도록 하자
  src/string-util/string-util.ts
Labels: none

feat: fallback 입력이 가능하도록 수정
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
Labels: test

fix: 불필요한 else 및 trim 처리 제거
  src/string-util/string-util.ts
Labels: none

feat: fallback 입력이 가능하도록 수정
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
Labels: test

fix: 불필요한 else 및 trim 처리 제거
  src/string-util/string-util.ts
Labels: none

feat: normalize에서 throw를 하지 말도록 하자
  src/string-util/string-util.ts
Labels: none

@day1co/pebbles: bump up to 3.1.8
  package-lock.json
  package.json
Labels: repo

feat: Add maskPrivacy function
  src/string-util/string-util.interface.ts
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
  src/string-util/string-util.type.ts
Labels: test

feat: Improve maskPrivacy function with masking Korea addresses, names with emoji, and unnormalized phone numbers
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
  src/string-util/string-util.type.ts
Labels: test

fix: Fix maskPrivacy function to handle negative length
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
Labels: test

feat: invalid value에 대한 throw error
  src/date-util/date-util.ts
Labels: none

fix: parseByFormat 테스트 수정
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

feat: invalid value에 대한 throw error
  src/date-util/date-util.ts
Labels: none

fix: parseByFormat 테스트 수정
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

@day1co/pebbles: bump up to 3.1.9
  package-lock.json
  package.json
Labels: repo

feat: Add maskPrivacy function
  src/string-util/string-util.interface.ts
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
  src/string-util/string-util.type.ts
Labels: test

fix: Fix maskPrivacy function to handle negative length
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
Labels: test

feat: Improve maskPrivacy function with masking Korea addresses, names with emoji, and unnormalized phone numbers
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
  src/string-util/string-util.type.ts
Labels: test

@day1co/pebbles: bump up to 3.1.10
  package-lock.json
  package.json
Labels: repo

string-util: modify utility type
  src/string-util/string-util.interface.ts
  src/string-util/string-util.ts
Labels: none

string-util: modify prettier
  src/string-util/string-util.interface.ts
Labels: none

string-util: modify utility type
  src/string-util/string-util.interface.ts
  src/string-util/string-util.ts
Labels: none

string-util: modify prettier
  src/string-util/string-util.interface.ts
Labels: none

@day1co/pebbles: bump up to 3.1.11
  package-lock.json
  package.json
Labels: repo

fix: deepClone()과 merge()에서 Function type에 대한 처리 추가
  src/object-util/object-util.ts
Labels: none

fix: function type이 들어온 경우의 merge 처리 로직 수정
  src/object-util/object-util.ts
Labels: none

fix: function type에 대한 테스트 추가
  src/object-util/object-util.spec.ts
Labels: test

fix: typo 수정
  src/object-util/object-util.spec.ts
Labels: test

fix: deepClone() 테스트에 함수 자체를 복사하는 테스트 추가
  src/object-util/object-util.spec.ts
Labels: test

fix: deepClone() 테스트에 함수 자체를 복사하는 테스트 추가
  src/object-util/object-util.spec.ts
Labels: test

fix: function type에 대한 테스트 추가
  src/object-util/object-util.spec.ts
Labels: test

fix: function type이 들어온 경우의 merge 처리 로직 수정
  src/object-util/object-util.ts
Labels: none

fix: typo 수정
  src/object-util/object-util.spec.ts
Labels: test
