Repository day1co/pebbles, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, enhancement, bug, maintenance, documentation, workflow

@day1co/pebbles: bump up to 3.1.32
  package-lock.json
  package.json
Labels: repo

fix isNumberic runtime error on edge case
  src/number-util/number-util.spec.ts
  src/number-util/number-util.ts
Labels: test

fix isNumberic runtime error on edge case
  src/number-util/number-util.spec.ts
  src/number-util/number-util.ts
Labels: test

@day1co/pebbles: bump up to 3.1.33
  package-lock.json
  package.json
Labels: repo

feat: 배열 요소에 null이 있어도 복사 가능해야한다
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: test

feat: 배열 요소에 null이 있어도 복사 가능해야한다
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: test

@day1co/pebbles: bump up to 3.1.34
  package-lock.json
  package.json
Labels: repo

feat: add strict merge fallback
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: test

feat: add linear/naive merge object util methods
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: test

feat: is_nullish 에 type predicate 추가
  src/object-util/object-util.ts
Labels: none

feat: is_nullish 에 type predicate 추가
  src/object-util/object-util.ts
Labels: none

@day1co/pebbles: bump up to 3.1.35
  package-lock.json
  package.json
Labels: repo

feat: pebbles 구조 개편
  src/index.ts
  src/type-util/boolean-util/boolean-util.spec.ts
  src/type-util/boolean-util/boolean-util.ts
  src/type-util/boolean-util/index.ts
  src/type-util/date-util/date-util-base.type.ts
  src/type-util/date-util/date-util.const.ts
  src/type-util/date-util/date-util.interface.ts
  src/type-util/date-util/date-util.spec.ts
  src/type-util/date-util/date-util.ts
  src/type-util/date-util/date-util.type.ts
  src/type-util/date-util/index.ts
  src/type-util/index.ts
  src/type-util/number-util/index.ts
  src/type-util/number-util/number-util.spec.ts
  src/type-util/number-util/number-util.ts
  src/type-util/object-util/index.ts
  src/type-util/object-util/object-util.spec.ts
  src/type-util/object-util/object-util.ts
  src/type-util/object-util/object-util.type.ts
  src/type-util/string-util/index.ts
  src/type-util/string-util/string-util.const.ts
  src/type-util/string-util/string-util.interface.ts
  src/type-util/string-util/string-util.spec.ts
  src/type-util/string-util/string-util.ts
  src/type-util/string-util/string-util.type.ts
  src/unit-util/byte-unit-converters/byte-unit-converter.spec.ts
  src/unit-util/byte-unit-converters/byte-unit-converter.ts
  src/unit-util/byte-unit-converters/byte-unit-converter.type.ts
  src/unit-util/byte-unit-converters/index.ts
  src/unit-util/index.ts
  src/unit-util/money-unit-converters/money-unit-converter.ts
  src/unit-util/money-unit-converters/money-unit-converter.type.ts
Labels: test

feat: 버전을 4.0.0으로 변경
  package.json
Labels: repo

feat: money-unit-converter 추가
  src/unit-util/money-unit-converters/index.ts
  src/unit-util/money-unit-converters/money-unit-converter.spec.ts
  src/unit-util/money-unit-converters/money-unit-converter.ts
  src/unit-util/money-unit-converters/money-unit-converter.type.ts
Labels: test

feat: 테스트 추가 및 불필요한 내용 제거
  src/unit-util/money-unit-converters/money-unit-converter.spec.ts
Labels: test

feat: money-unit-converter 버그 수정 및 테스트 추가
  src/index.ts
  src/unit-util/index.ts
  src/unit-util/money-unit-converters/index.ts
  src/unit-util/money-unit-converters/money-unit-converter.spec.ts
  src/unit-util/money-unit-converters/money-unit-converter.ts
  src/unit-util/unit-converters/byte-unit-converter.spec.ts
  src/unit-util/unit-converters/byte-unit-converter.ts
  src/unit-util/unit-converters/index.ts
  src/unit-util/unit-converters/money-unit-converter.spec.ts
  src/unit-util/unit-converters/money-unit-converter.ts
  src/unit-util/unit-converters/money-unit-converter.type.ts
  src/unit-util/unit-util.interface.ts
Labels: test

feat: 에러 메시지 수정
  src/unit-util/unit-converters/byte-unit-converter.ts
  src/unit-util/unit-converters/money-unit-converter.spec.ts
  src/unit-util/unit-converters/money-unit-converter.ts
  src/unit-util/unit-util.interface.ts
Labels: test

feat: money-unit-converter 버그 수정 및 테스트 추가
  src/index.ts
  src/unit-util/index.ts
  src/unit-util/money-unit-converters/index.ts
  src/unit-util/money-unit-converters/money-unit-converter.spec.ts
  src/unit-util/money-unit-converters/money-unit-converter.ts
  src/unit-util/unit-converters/byte-unit-converter.spec.ts
  src/unit-util/unit-converters/byte-unit-converter.ts
  src/unit-util/unit-converters/index.ts
  src/unit-util/unit-converters/money-unit-converter.spec.ts
  src/unit-util/unit-converters/money-unit-converter.ts
  src/unit-util/unit-converters/money-unit-converter.type.ts
  src/unit-util/unit-util.interface.ts
Labels: test

feat: 에러 메시지 수정
  src/unit-util/unit-converters/byte-unit-converter.ts
  src/unit-util/unit-converters/money-unit-converter.spec.ts
  src/unit-util/unit-converters/money-unit-converter.ts
  src/unit-util/unit-util.interface.ts
Labels: test

feat: money-unit-converter 추가
  src/unit-util/money-unit-converters/index.ts
  src/unit-util/money-unit-converters/money-unit-converter.spec.ts
  src/unit-util/money-unit-converters/money-unit-converter.ts
  src/unit-util/money-unit-converters/money-unit-converter.type.ts
Labels: test

feat: 테스트 추가 및 불필요한 내용 제거
  src/unit-util/money-unit-converters/money-unit-converter.spec.ts
Labels: test

@day1co/pebbles: bump up to 3.1.36
  package-lock.json
  package.json
Labels: repo

feat: export TokenExpiredException in root
  src/index.ts
Labels: none

feat: export TokenExpiredException in root
  src/index.ts
Labels: none

@day1co/pebbles: bump up to 3.1.37
  package-lock.json
  package.json
Labels: repo

feat: size를 없애고 value를 필수 속성으로 변경
  src/unit-util/unit-converters/byte-unit-converter.spec.ts
  src/unit-util/unit-converters/byte-unit-converter.ts
  src/unit-util/unit-converters/money-unit-converter.spec.ts
  src/unit-util/unit-converters/money-unit-converter.ts
  src/unit-util/unit-util.interface.ts
Labels: test

feat: size를 없애고 value를 필수 속성으로 변경
  src/unit-util/unit-converters/byte-unit-converter.spec.ts
  src/unit-util/unit-converters/byte-unit-converter.ts
  src/unit-util/unit-converters/money-unit-converter.spec.ts
  src/unit-util/unit-converters/money-unit-converter.ts
  src/unit-util/unit-util.interface.ts
Labels: test

@day1co/pebbles: bump up to 3.1.38
  package-lock.json
  package.json
Labels: repo

feat:add-normalizePhoneNumber
  src/string-util/string-util.ts
  tsconfig.json
Labels: repo

feat: hms to seconds
  src/date-util/date-util.ts
Labels: none

add valid for format
  src/date-util/date-util.ts
Labels: none

feat : formatNumberAsCurrency
  src/number-util/number-util.spec.ts
  src/number-util/number-util.ts
Labels: test

change logic and add test
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

reflect review by the PR: input type change and remove unused code
  src/number-util/number-util.spec.ts
  src/number-util/number-util.ts
Labels: test

mv numberUtil -> moneyUtil
  src/index.ts
  src/money-util/index.ts
  src/money-util/money-util.spec.ts
  src/money-util/money-util.ts
Labels: test

reflect review : add unitType and check if valid time format
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
  src/date-util/date-util.type.ts
Labels: test

add format for parseByFormat
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

add logger and throw error to 0
  src/date-util/date-util.ts
Labels: none

add test
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

.github/labeler.yml:

repo:
  - '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - src/**/*.spec.ts

enhancement:
  - any: ['feat/*']

bug:
  - any: ['fix/*']

maintenance:
  - any: ['refactor/*']

documentation:
  - any: ['docs/*']

workflow:
  - any: ['workflow/*']
