Repository day1co/pebbles, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, enhancement, bug, maintenance, documentation, workflow

.github/labeler.yml:

repo:
  - '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - src/**/*.spec.ts

enhancement:
  - any: ['feat/*']

bug:
  - any: ['fix/*']

maintenance:
  - any: ['refactor/*']

documentation:
  - any: ['docs/*']

workflow:
  - any: ['workflow/*']

fix: 원본 객체의 constructor를 이용하는 형식으로 변경
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: test

fix: 코드에서 Buffer는 제거
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: test

feat: Map과 Set에 대한 deep clone 구현
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
  src/object-util/object-util.type.ts
Labels: test

fix: Buffer class에 대한 내용을 삭제한다
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: test

fix: deepClone 지원 타입 제한 및 테스트 추가
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: test

fix: Array clone test 수정
  src/object-util/object-util.spec.ts
Labels: test

@day1co/pebbles: bump up to 0.0.6
  package-lock.json
  package.json
Labels: repo

fix: date-util의 setUTCOffset에 사용하던 커스텀 클래스 삭제, 대신 format에서 isUTC 주입하도록 수정
  src/date-util/date-util.interface.ts
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

fix: date-util format의 yy 포맷 오류 수정
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

workflow: npm-publish-slack-message에 change log가 포함되도록 합니다
  .github/npm-publish-slack.sh
  .github/workflows/npm-publish.yml
Labels: none

workflow: npm-publish-slack-message에 change log가 포함되도록 합니다
  .github/npm-publish-slack.sh
  .github/workflows/npm-publish.yml
Labels: none

fix: BooleanUtil.valueOf의 불필요한 toLowerCase문을 삭제합니다
  src/boolean-util/boolean-util.ts
Labels: none

fix: 객체를 로깅할 때는 %o를 쓰도록 수정
  src/date-util/date-util.ts
  src/http-client/http-client.ts
Labels: none

fix: 객체를 로깅할 때는 %o를 쓰도록 수정
  src/date-util/date-util.ts
  src/http-client/http-client.ts
Labels: none

@day1co/pebbles: bump up to 0.0.7
  package-lock.json
  package.json
Labels: repo

fix: npm-publish.yml 파일의 script 문법 오류를 수정합니다
  .github/workflows/npm-publish.yml
Labels: none

fix: npm-publish.yml 파일의 script 문법 오류를 수정합니다
  .github/workflows/npm-publish.yml
Labels: none

fix: BooleanUtil.valueOf의 불필요한 toLowerCase문을 삭제합니다
  src/boolean-util/boolean-util.ts
Labels: none

@day1co/pebbles: bump up to 0.0.8
  package-lock.json
  package.json
Labels: repo

fix:npm publish의 CHANGE_LOG 변수를 문자열화 합니다
  .github/npm-publish-slack.sh
Labels: none

fix:npm publish의 CHANGE_LOG 변수를 문자열화 합니다
  .github/npm-publish-slack.sh
Labels: none

fix: 분 단위 인자 이름을 min에서 minute으로 수정
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

feat: date-util offsetUTC 구현
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

fix: date-util의 setUTCOffset에 사용하던 커스텀 클래스 삭제, 대신 format에서 isUTC 주입하도록 수정
  src/date-util/date-util.interface.ts
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

fix: date-util: date offset 표기시 UTC기준 마이너스 시차도 표기되도록 수정
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

fix: date-util format에 default format 인자값 제공
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

fix: date-util의 replaceDateInfo 인자 형태를 interface로 받도록 수정
  src/date-util/date-util.interface.ts
  src/date-util/date-util.ts
Labels: none

fix: date-util format의 yy 포맷 오류 수정
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

@day1co/pebbles: bump up to 0.0.9
  package-lock.json
  package.json
Labels: repo

feat: merge 구현
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: test

feat: merge() 추가 및 deepClone()에서 symbol type key 지원
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
  src/object-util/object-util.type.ts
Labels: test

fix: 불필요한 주석 삭제
  src/object-util/object-util.type.ts
Labels: none

fix: 코드 중복 제거
  src/misc-util/misc-util.spec.ts
  src/object-util/object-util.ts
Labels: test

feat: ObjectKeyType 추가
  src/object-util/object-util.type.ts
Labels: none

fix: 불필요한 주석 삭제
  src/object-util/object-util.type.ts
Labels: none

feat: merge() 추가 및 deepClone()에서 symbol type key 지원
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
  src/object-util/object-util.type.ts
Labels: test

fix: 코드 중복 제거
  src/misc-util/misc-util.spec.ts
  src/object-util/object-util.ts
Labels: test

feat: merge 구현
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: test

feat: ObjectKeyType 추가
  src/object-util/object-util.type.ts
Labels: none

@day1co/pebbles: bump up to 0.0.10
  package-lock.json
  package.json
Labels: repo
