Repository day1co/pebbles, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, enhancement, bug, maintenance, documentation, workflow

feat: date convert by timezone
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

feat: merge시 Interval decimalPlace 적용
  src/time-range/time-range.ts
Labels: none

time-range: merge 함수에서 소수점을 반영
  src/time-range/time-range.spec.ts
  src/time-range/time-range.ts
Labels: test

time-range: merge 함수에서 소수점을 반영
  src/time-range/time-range.spec.ts
  src/time-range/time-range.ts
Labels: test

@day1co/pebbles: bump up to 3.2.7
  package-lock.json
  package.json
Labels: repo

fix: normalizePhoneNumber 예외 입력 처리
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
Labels: test

fix: 에러메세지 수정
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
Labels: test

fix: normalizePhoneNumber 예외 입력 처리 로직 수정
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
Labels: test

fix typo
  src/string-util/string-util.spec.ts
Labels: test

fix: toThrowError -> toThrow
  src/string-util/string-util.spec.ts
Labels: test

misc: fix lint
  src/date-util/date-util.ts
  src/date-util/date-util.type.ts
  src/exception/client-exception/bad-request-exception.ts
  src/exception/client-exception/client-exception.ts
  src/exception/client-exception/credential-changed-exception.ts
  src/exception/client-exception/forbidden-exception.ts
  src/exception/client-exception/not-found-exception.ts
  src/exception/client-exception/token-expired-exception.ts
  src/exception/client-exception/unauthorized-exception.ts
  src/exception/server-exception/data-exception.ts
  src/exception/server-exception/internal-server-exception.ts
  src/exception/server-exception/server-exception.ts
  src/exception/server-exception/unknown-exception.ts
  src/logger/logger-factory.ts
  src/unit-util/unit-converters/byte-unit-converter.ts
  src/unit-util/unit-converters/money-unit-converter.ts
Labels: none

misc: update package-lock.json
  package-lock.json
Labels: repo

http-client: add AxiosErrorType, AxiosResponseType
  src/http-client/http-client.type.ts
Labels: none

modify: rename to HttpResponse, HttpError
  src/http-client/http-client.type.ts
Labels: none

fix: set default type for second arg in HttpRes
  src/http-client/http-client.type.ts
Labels: none

chore: add default type for HttpError
  src/http-client/http-client.type.ts
Labels: none

fix: set default type for second arg in HttpRes
  src/http-client/http-client.type.ts
Labels: none

misc: update package-lock.json
  package-lock.json
Labels: repo

modify: rename to HttpResponse, HttpError
  src/http-client/http-client.type.ts
Labels: none

misc: fix lint
  src/date-util/date-util.ts
  src/date-util/date-util.type.ts
  src/exception/client-exception/bad-request-exception.ts
  src/exception/client-exception/client-exception.ts
  src/exception/client-exception/credential-changed-exception.ts
  src/exception/client-exception/forbidden-exception.ts
  src/exception/client-exception/not-found-exception.ts
  src/exception/client-exception/token-expired-exception.ts
  src/exception/client-exception/unauthorized-exception.ts
  src/exception/server-exception/data-exception.ts
  src/exception/server-exception/internal-server-exception.ts
  src/exception/server-exception/server-exception.ts
  src/exception/server-exception/unknown-exception.ts
  src/logger/logger-factory.ts
  src/unit-util/unit-converters/byte-unit-converter.ts
  src/unit-util/unit-converters/money-unit-converter.ts
Labels: none

chore: add default type for HttpError
  src/http-client/http-client.type.ts
Labels: none

http-client: add AxiosErrorType, AxiosResponseType
  src/http-client/http-client.type.ts
Labels: none

@day1co/pebbles: bump up to 3.2.8
  package-lock.json
  package.json
Labels: repo

chore: export type HttpError
  src/http-client/index.ts
Labels: none

chore: export type HttpError
  src/http-client/index.ts
Labels: none

@day1co/pebbles: bump up to 3.2.9
  package-lock.json
  package.json
Labels: repo

chore: export type HttpError from root
  src/index.ts
Labels: none

chore: export type HttpError from root
  src/index.ts
Labels: none

@day1co/pebbles: bump up to 3.2.10
  package-lock.json
  package.json
Labels: repo

fix: 예약어인 constructor 를 생성자 변수명으로 사용하지 않는다. 생성자가 함수일 때만 함수로 실행 가능하도록 수정
  src/object-util/object-util.ts
Labels: none

fix: minor version up
  package-lock.json
  package.json
Labels: repo

fix: 예약어인 constructor 를 생성자 변수명으로 사용하지 않는다. 생성자가 함수일 때만 함수로 실행 가능하도록 수정
  src/object-util/object-util.ts
Labels: none

fix: minor version up
  package-lock.json
  package.json
Labels: repo

feat : conflict-exception 생성
  src/exception/client-exception/conflict-exception.ts
  src/exception/client-exception/index.ts
  src/exception/exception.spec.ts
Labels: test

feat : conflict-exception 생성
  src/exception/client-exception/conflict-exception.ts
  src/exception/client-exception/index.ts
  src/exception/exception.spec.ts
Labels: test

@day1co/pebbles: bump up to 3.3.1
  package-lock.json
  package.json
Labels: repo

fix : index 에 conflict-exception 추가
  src/exception/index.ts
  src/index.ts
Labels: none

fix : index 에 conflict-exception 추가
  src/exception/index.ts
  src/index.ts
Labels: none

@day1co/pebbles: bump up to 3.3.2
  package-lock.json
  package.json
Labels: repo

feat: 시청구간을 이용하여 미시청구간을 구하는 기능추가
  src/time-range/time-range.spec.ts
  src/time-range/time-range.ts
Labels: test

.github/labeler.yml:

repo:
  - '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - src/**/*.spec.ts

enhancement:
  - any: ['feat/*']

bug:
  - any: ['fix/*']

maintenance:
  - any: ['refactor/*']

documentation:
  - any: ['docs/*']

workflow:
  - any: ['workflow/*']
