Repository day1co/pebbles, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, enhancement, bug, maintenance, documentation, workflow

fix: deepClone()과 merge()에서 Function type에 대한 처리 추가
  src/object-util/object-util.ts
Labels: none

@day1co/pebbles: bump up to 3.1.12
  package-lock.json
  package.json
Labels: repo

fix: omit 처리 도중 키가 일치하지 않는 경우 이후의 처리가 제대로 되지 않는 버그
  package-lock.json
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: repo, test

refactor: forEach로 변경
  src/object-util/object-util.ts
Labels: none

refactor: forEach로 변경
  src/object-util/object-util.ts
Labels: none

fix: omit 처리 도중 키가 일치하지 않는 경우 이후의 처리가 제대로 되지 않는 버그
  package-lock.json
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: repo, test

@day1co/pebbles: bump up to 3.1.13
  package-lock.json
  package.json
Labels: repo

fix: deepClone시 constructor가 undefined면 new Object()로 생성
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: test

fix: deepClone시 constructor가 undefined면 new Object()로 생성
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: test

@day1co/pebbles: bump up to 3.1.14
  package-lock.json
  package.json
Labels: repo

fix: nullish한 값을 가진 key가 존재할 때 key가 삭제되지 않는 버그
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: test

fix: nullish한 값을 가진 key가 존재할 때 key가 삭제되지 않는 버그
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: test

@day1co/pebbles: bump up to 3.1.15
  package-lock.json
  package.json
Labels: repo

feat: Add MapUtil
  src/index.ts
  src/map-util/index.ts
  src/map-util/map-util.spec.ts
  src/map-util/map-util.ts
Labels: test

fix: Add Type to MapUtil.get()
  src/map-util/map-util.spec.ts
  src/map-util/map-util.ts
Labels: test

fix: set default value of str to empty string in splitTags
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
Labels: test

fix: set default value of str to empty string in splitTags
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
Labels: test

@day1co/pebbles: bump up to 3.1.16
  package-lock.json
  package.json
Labels: repo

Revert "fix: set default value of str to empty string in splitTags"
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
Labels: test

Revert "fix: set default value of str to empty string in splitTags"
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
Labels: test

@day1co/pebbles: bump up to 3.1.17
  package-lock.json
  package.json
Labels: repo

fix: Add Type to MapUtil.get()
  src/map-util/map-util.spec.ts
  src/map-util/map-util.ts
Labels: test

feat: Add MapUtil
  src/index.ts
  src/map-util/index.ts
  src/map-util/map-util.spec.ts
  src/map-util/map-util.ts
Labels: test

@day1co/pebbles: bump up to 3.1.18
  package-lock.json
  package.json
Labels: repo

feat: UnitUtil init
  src/unit-util/index.ts
  src/unit-util/unit-util.interface.ts
  src/unit-util/unit-util.spec.ts
  src/unit-util/unit-util.ts
  src/unit-util/unit-util.type.ts
Labels: test

refactor: unit-util 클래스화
  src/unit-util/index.ts
  src/unit-util/unit-converters/byte-unit-converter.spec.ts
  src/unit-util/unit-converters/byte-unit-converter.ts
  src/unit-util/unit-converters/byte-unit-converter.type.ts
  src/unit-util/unit-converters/index.ts
  src/unit-util/unit-util.interface.ts
  src/unit-util/unit-util.spec.ts
  src/unit-util/unit-util.ts
  src/unit-util/unit-util.type.ts
Labels: test

feat: UnitUtil init
  src/unit-util/index.ts
  src/unit-util/unit-util.interface.ts
  src/unit-util/unit-util.spec.ts
  src/unit-util/unit-util.ts
  src/unit-util/unit-util.type.ts
Labels: test

refactor: unit-util 클래스화
  src/unit-util/index.ts
  src/unit-util/unit-converters/byte-unit-converter.spec.ts
  src/unit-util/unit-converters/byte-unit-converter.ts
  src/unit-util/unit-converters/byte-unit-converter.type.ts
  src/unit-util/unit-converters/index.ts
  src/unit-util/unit-util.interface.ts
  src/unit-util/unit-util.spec.ts
  src/unit-util/unit-util.ts
  src/unit-util/unit-util.type.ts
Labels: test

@day1co/pebbles: bump up to 3.1.19
  package-lock.json
  package.json
Labels: repo

fix: export UnitUtil classes from root index.ts
  src/index.ts
Labels: none

fix: export UnitUtil classes from root index.ts
  src/index.ts
Labels: none

@day1co/pebbles: bump up to 3.1.20
  package-lock.json
  package.json
Labels: repo

fix: UnitUtil static class
  src/unit-util/index.ts
  src/unit-util/unit-converters/byte-unit-converter.spec.ts
  src/unit-util/unit-converters/byte-unit-converter.ts
  src/unit-util/unit-converters/index.ts
  src/unit-util/unit-util.interface.ts
Labels: test

fix: object check of isEmpty to typeof
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: test

fix: object check of isEmpty to typeof
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: test

@day1co/pebbles: bump up to 3.1.21
  package-lock.json
  package.json
Labels: repo

refactor: true return과 false return 구분에 맞게 테스트 순서 조정
  src/object-util/object-util.spec.ts
Labels: test

refactor: true return과 false return 구분에 맞게 테스트 순서 조정
  src/object-util/object-util.spec.ts
Labels: test

fix: ChangedCredentialException -> CredentialChangedException
  src/exception/client-exception/changed-credential-exception.ts
  src/exception/client-exception/index.ts
  src/exception/exception.spec.ts
  src/exception/index.ts
  src/index.ts
Labels: test

fix: ChangedCredentialException -> CredentialChangedException
  src/exception/client-exception/changed-credential-exception.ts
  src/exception/client-exception/index.ts
  src/exception/exception.spec.ts
  src/exception/index.ts
  src/index.ts
Labels: test

.github/labeler.yml:

repo:
  - '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - src/**/*.spec.ts

enhancement:
  - any: ['feat/*']

bug:
  - any: ['fix/*']

maintenance:
  - any: ['refactor/*']

documentation:
  - any: ['docs/*']

workflow:
  - any: ['workflow/*']
