Repository day1co/pebbles, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, enhancement, bug, maintenance, documentation, workflow

.github/labeler.yml:

repo:
  - '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - src/**/*.spec.ts

enhancement:
  - any: ['feat/*']

bug:
  - any: ['fix/*']

maintenance:
  - any: ['refactor/*']

documentation:
  - any: ['docs/*']

workflow:
  - any: ['workflow/*']

feat: pebbles 내부에서 logger 이용부분 삭제
  src/date-util/date-util.ts
  src/http-client/http-client.spec.ts
  src/http-client/http-client.ts
  src/object-util/object-util.ts
  tsconfig.json
Labels: repo, test

refactor: gitignore 내용 순서 변경
  .gitignore
Labels: repo

fix: eslint에서 no-explicit-any 옵션 끔
  .eslintrc.js
  package-lock.json
Labels: repo

feat: jest 설정과 tsconfig 변경
  jest.config.js
  package.json
  tsconfig.json
Labels: repo

feat: exception 모듈 추가
  src/exception/client-exception/bad-request-exception.ts
  src/exception/client-exception/changed-credential-exception.ts
  src/exception/client-exception/client-exception.ts
  src/exception/client-exception/forbidden-exception.ts
  src/exception/client-exception/index.ts
  src/exception/client-exception/not-found-exception.ts
  src/exception/client-exception/unauthorized-exception.ts
  src/exception/custom-exception.ts
  src/exception/exception.spec.ts
  src/exception/index.ts
  src/exception/server-exception/data-exception.ts
  src/exception/server-exception/index.ts
  src/exception/server-exception/internal-server-exception.ts
  src/exception/server-exception/server-exception.ts
  src/index.ts
Labels: test

feat: jest 설정과 tsconfig 변경
  jest.config.js
  package.json
  tsconfig.json
Labels: repo

feat: 3.0 배포 준비
  package-lock.json
  package.json
  src/date-util/index.ts
  src/http-client/http-client.interface.ts
  src/index.ts
  src/logger/logger-factory.ts
  src/logger/logger-impl/pino-logger.ts
  src/misc-util/index.ts
  src/misc-util/misc-util.interface.ts
  src/string-util/index.ts
  src/string-util/string-util.interface.ts
Labels: repo

fix: eslint에서 no-explicit-any 옵션 끔
  .eslintrc.js
  package-lock.json
Labels: repo

feat: exception 모듈 추가
  src/exception/client-exception/bad-request-exception.ts
  src/exception/client-exception/changed-credential-exception.ts
  src/exception/client-exception/client-exception.ts
  src/exception/client-exception/forbidden-exception.ts
  src/exception/client-exception/index.ts
  src/exception/client-exception/not-found-exception.ts
  src/exception/client-exception/unauthorized-exception.ts
  src/exception/custom-exception.ts
  src/exception/exception.spec.ts
  src/exception/index.ts
  src/exception/server-exception/data-exception.ts
  src/exception/server-exception/index.ts
  src/exception/server-exception/internal-server-exception.ts
  src/exception/server-exception/server-exception.ts
  src/index.ts
Labels: test

feat: pebbles 내부에서 logger 이용부분 삭제
  src/date-util/date-util.ts
  src/http-client/http-client.spec.ts
  src/http-client/http-client.ts
  src/object-util/object-util.ts
  tsconfig.json
Labels: repo, test

refactor: gitignore 내용 순서 변경
  .gitignore
Labels: repo

fix: TS target을 es2021로 수정
  .eslintrc.js
  tsconfig.json
Labels: repo

fix: TS target을 es2021로 수정
  .eslintrc.js
  tsconfig.json
Labels: repo

feat: date-util의 parseByUtc 기능 추가
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

feat: improv code parseByUtc
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

fix: match the github action offset
  src/date-util/date-util.spec.ts
Labels: test

feat: fix parseByUtc same result moment.js
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

refactor: 일부 코드 정비
  .eslintrc.js
  jest.config.js
  package-lock.json
  package.json
  src/http-client/http-client.interface.ts
  src/http-client/http-client.ts
  src/http-client/http-client.type.ts
  src/http-client/index.ts
  src/logger/logger-impl/pino-logger.ts
  src/logger/logger.interface.ts
  src/string-util/string-util.interface.ts
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
Labels: repo, test

fix: same resutl moment.utc()
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

refactor: 일부 코드 정비
  .eslintrc.js
  jest.config.js
  package-lock.json
  package.json
  src/http-client/http-client.interface.ts
  src/http-client/http-client.ts
  src/http-client/http-client.type.ts
  src/http-client/index.ts
  src/logger/logger-impl/pino-logger.ts
  src/logger/logger.interface.ts
  src/string-util/string-util.interface.ts
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
Labels: repo, test

@day1co/pebbles: bump up to 3.0.1
  package-lock.json
  package.json
Labels: repo

workflow: redstone의 workflow 파일에 맞춰서 변경
  .github/workflows/ci-test.yml
  .github/workflows/npm-publish.yml
Labels: none

workflow: redstone의 workflow 파일에 맞춰서 변경
  .github/workflows/ci-test.yml
  .github/workflows/npm-publish.yml
Labels: none

refactor: calcDatetime 코드를 더 짧고 더 효율적으로
  src/date-util/date-util.ts
Labels: none

fix: 상수값 오류 수정
  src/date-util/date-util.ts
Labels: none

workflow: 테스트는 모든 PR에서 동작하도록 변경
  .github/workflows/ci-test.yml
Labels: none

workflow: ci test 실행 오류 수정
  .github/workflows/ci-test.yml
Labels: none

fix: warning 줄이기
  src/date-util/date-util.ts
Labels: none

refactor: calcDatetime 코드를 더 짧고 더 효율적으로
  src/date-util/date-util.ts
Labels: none

workflow: ci test 실행 오류 수정
  .github/workflows/ci-test.yml
Labels: none

fix: warning 줄이기
  src/date-util/date-util.ts
Labels: none

fix: 상수값 오류 수정
  src/date-util/date-util.ts
Labels: none

workflow: 테스트는 모든 PR에서 동작하도록 변경
  .github/workflows/ci-test.yml
Labels: none

fix: utcOffset 함수는 불필요하다
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

feat: 해당 날짜가 마지막 날짜인지 체크 함수
  src/date-util/date-util.ts
Labels: none

feat: add test code
  src/date-util/date-util.spec.ts
Labels: test

feat: 변수명 및 타입 변경
  src/date-util/date-util.ts
Labels: none

feat: modify test code
  src/date-util/date-util.spec.ts
Labels: test

feat: http-client 테스트 추가
  src/http-client/http-client.spec.ts
  src/misc-util/misc-util.spec.ts
Labels: test

feat: http-client 테스트 추가
  src/http-client/http-client.spec.ts
  src/misc-util/misc-util.spec.ts
Labels: test
