Repository day1co/pebbles, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, enhancement, bug, maintenance, documentation, workflow

fix: format 수정 및 parseByFormat 버그 수정
  src/date-util/date-util.const.ts
  src/date-util/date-util.interface.ts
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
  src/date-util/date-util.type.ts
  src/date-util/index.ts
  src/index.ts
Labels: test

fix: critical vulnerability에 대한 수정
  package-lock.json
Labels: repo

fix: 타임존 separator 관련 수정
  src/date-util/date-util.ts
Labels: none

fix: DATETIME_FORMAT 제거
  src/date-util/date-util.const.ts
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
  src/date-util/date-util.type.ts
  src/date-util/index.ts
  src/index.ts
Labels: test

fix: 포맷 변경으로 인한 테스트 오류 수정
  src/date-util/date-util.spec.ts
Labels: test

feat: getDatetimeString은 isUtc에 따라 결과가 다르도록 수정
  src/date-util/date-util.const.ts
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
  src/date-util/date-util.type.ts
  src/date-util/index.ts
  src/index.ts
Labels: test

fix: isUtc의 기본 값은 언제나 true
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

fix: format 수정 및 parseByFormat 버그 수정
  src/date-util/date-util.const.ts
  src/date-util/date-util.interface.ts
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
  src/date-util/date-util.type.ts
  src/date-util/index.ts
  src/index.ts
Labels: test

fix: isUtc의 기본 값은 언제나 true
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

fix: 타임존 separator 관련 수정
  src/date-util/date-util.ts
Labels: none

fix: DATETIME_FORMAT 제거
  src/date-util/date-util.const.ts
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
  src/date-util/date-util.type.ts
  src/date-util/index.ts
  src/index.ts
Labels: test

feat: getDatetimeString은 isUtc에 따라 결과가 다르도록 수정
  src/date-util/date-util.const.ts
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
  src/date-util/date-util.type.ts
  src/date-util/index.ts
  src/index.ts
Labels: test

fix: critical vulnerability에 대한 수정
  package-lock.json
Labels: repo

fix: 포맷 변경으로 인한 테스트 오류 수정
  src/date-util/date-util.spec.ts
Labels: test

refactor: deprecated 함수인 formatToISOString 이름 원복
  src/date-util/date-util.ts
Labels: none

fix: 일부 기능 수정 및 테스트 수정
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

fix: 시스템 타임존에 따라 테스트 오류가 발생할 수 있는 요소 수정
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

feat: ts target을 es2017로 변경
  tsconfig.json
Labels: repo

workflow: ci test 실행 오류 수정
  .github/workflows/ci-test.yml
Labels: none

fix: 테스트 오류 수정
  src/date-util/date-util.spec.ts
Labels: test

feat: import 오류 수정
  package-lock.json
  src/date-util/index.ts
Labels: repo

feat: parse를 표준에 맞게 수정 및 startOf, endOf 추가
  src/date-util/date-util.interface.ts
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
  src/date-util/date-util.type.ts
Labels: test

fix: isUtc의 기본 값은 언제나 true
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

feat: ts target을 es2017로 변경
  tsconfig.json
Labels: repo

workflow: 테스트는 모든 PR에서 동작하도록 변경
  .github/workflows/ci-test.yml
Labels: none

feat: getDatetimeString은 isUtc에 따라 결과가 다르도록 수정
  src/date-util/date-util.const.ts
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
  src/date-util/date-util.type.ts
  src/date-util/index.ts
  src/index.ts
Labels: test

workflow: actions/checkout 버전 수정
  .github/workflows/ci-test.yml
  .github/workflows/npm-publish.yml
  package.json
Labels: repo

refactor: deprecated 함수인 formatToISOString 이름 원복
  src/date-util/date-util.ts
Labels: none

fix: DATETIME_FORMAT 제거
  src/date-util/date-util.const.ts
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
  src/date-util/date-util.type.ts
  src/date-util/index.ts
  src/index.ts
Labels: test

fix: 상수값 오류 수정
  src/date-util/date-util.ts
Labels: none

fix: critical vulnerability에 대한 수정
  package-lock.json
Labels: repo

fix: warning 줄이기
  src/date-util/date-util.ts
Labels: none

fix: utcOffset 함수는 불필요하다
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

fix: 타임존 separator 관련 수정
  src/date-util/date-util.ts
Labels: none

refactor: calcDatetime 코드를 더 짧고 더 효율적으로
  src/date-util/date-util.ts
Labels: none

fix: 시스템 타임존에 따라 테스트 오류가 발생할 수 있는 요소 수정
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

refactor: startOf, endOf의 코드 간결화
  src/date-util/date-util.ts
Labels: none

fix: 일부 기능 수정 및 테스트 수정
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

refactor: parseByFormat 코드 간략화
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

fix: format 수정 및 parseByFormat 버그 수정
  src/date-util/date-util.const.ts
  src/date-util/date-util.interface.ts
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
  src/date-util/date-util.type.ts
  src/date-util/index.ts
  src/index.ts
Labels: test

.github/labeler.yml:

repo:
  - '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - src/**/*.spec.ts

enhancement:
  - any: ['feat/*']

bug:
  - any: ['fix/*']

maintenance:
  - any: ['refactor/*']

documentation:
  - any: ['docs/*']

workflow:
  - any: ['workflow/*']
