Repository day1co/pebbles, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, enhancement, bug, maintenance, documentation, workflow

.github/labeler.yml:

repo:
  - '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - src/**/*.spec.ts

enhancement:
  - any: ['feat/*']

bug:
  - any: ['fix/*']

maintenance:
  - any: ['refactor/*']

documentation:
  - any: ['docs/*']

workflow:
  - any: ['workflow/*']

crypto: ezwel-seed: fix exports & tests
  src/crypto-util/crypto-util.spec.ts
  src/crypto-util/crypto-util.ts
Labels: test

crypto: remove old ezwel-seed first
  src/crypto-util/ezwel-seed.d.ts
  src/crypto-util/ezwel-seed.js
Labels: none

crypto: add claude-implemented ezwel-seed
  src/crypto-util/ezwel-seed.ts
Labels: none

crypto: ezwel-seed: make code less painful
  src/crypto-util/ezwel-seed.ts
Labels: none

crypto: ezwel-seed: fix exports & tests
  src/crypto-util/crypto-util.spec.ts
  src/crypto-util/crypto-util.ts
Labels: test

crypto: ezwel-seed: fix exports & tests
  src/crypto-util/crypto-util.spec.ts
  src/crypto-util/crypto-util.ts
Labels: test

crypto: add claude-implemented ezwel-seed
  src/crypto-util/ezwel-seed.ts
Labels: none

crypto: ezwel-seed: make code less painful
  src/crypto-util/ezwel-seed.ts
Labels: none

crypto: remove old ezwel-seed first
  src/crypto-util/ezwel-seed.d.ts
  src/crypto-util/ezwel-seed.js
Labels: none

feature: revert crypto utils with namespace
  src/crypto-util/crypto-util.spec.ts
  src/crypto-util/crypto-util.ts
  src/crypto-util/index.ts
Labels: test

crypto: ezwel-seed: fix exports & tests
  src/crypto-util/crypto-util.spec.ts
  src/crypto-util/crypto-util.ts
Labels: test

crypto: ezwel-seed: make code less painful
  src/crypto-util/ezwel-seed.ts
Labels: none

crypto: remove old ezwel-seed first
  src/crypto-util/ezwel-seed.d.ts
  src/crypto-util/ezwel-seed.js
Labels: none

crypto: add claude-implemented ezwel-seed
  src/crypto-util/ezwel-seed.ts
Labels: none

@day1co/pebbles: bump up to 4.0.2
  package-lock.json
  package.json
Labels: repo

add new test cases, array, date, number, string
  src/array-util/array-util.spec.ts
  src/date-util/date-util.spec.ts
  src/number-util/number-util.spec.ts
  src/string-util/string-util.spec.ts
Labels: test

add new cases more
  src/boolean-util/boolean-util.spec.ts
  src/http-client/http-client.spec.ts
  src/logger/logger.spec.ts
  src/map-util/map-util.spec.ts
  src/misc-util/misc-util.spec.ts
  src/money-util/money-util.spec.ts
Labels: test

add time-range test cases
  src/time-range/time-range.spec.ts
Labels: test

클린코드 형태로 리팩토링을 요청함
  src/crypto-util/crypto-util.spec.ts
  src/crypto-util/crypto-util.ts
  src/time-range/time-range.spec.ts
  src/time-range/time-range.ts
Labels: test

fix prettier
  src/array-util/array-util.spec.ts
  src/time-range/time-range.spec.ts
  src/time-range/time-range.ts
Labels: test

fix lint by agent
  src/crypto-util/crypto-util.spec.ts
  src/crypto-util/crypto-util.ts
  src/crypto-util/ezwel-seed.ts
  src/logger/logger-impl/pino-logger.ts
Labels: test

fix lint
  src/array-util/array-util.spec.ts
  src/time-range/time-range.ts
Labels: test

feat: 사내 설정을 커뮤니티 표준으로 마이그레이션 (#1)
  .eslintrc.js
  .prettierrc.js
  CLAUDE.md
  GEMINI.md
  package-lock.json
  package.json
  src/array-util/array-util.ts
  src/crypto-util/crypto-util.spec.ts
  src/crypto-util/crypto-util.ts
  src/crypto-util/ezwel-seed.ts
  src/date-util/date-util-base.type.ts
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
  src/date-util/index.ts
  src/exception/index.ts
  src/exception/server-exception/server-exception.ts
  src/http-client/http-client.ts
  src/map-util/map-util.spec.ts
  src/map-util/map-util.ts
  src/misc-util/misc-util.ts
  src/money-util/money-util.ts
  src/number-util/index.ts
  src/number-util/number-util.spec.ts
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
  src/search-util/search-util.spec.ts
  src/search-util/search-util.ts
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
  src/time-range/time-range.ts
  src/type-util/type-util.spec.ts
  src/unit-util/unit-converters/byte-unit-converter.spec.ts
  src/unit-util/unit-converters/money-unit-converter.spec.ts
  tsconfig.json
Labels: repo, test

add/interval undefined 시, 방어 코드 추가
  src/time-range/time-range.ts
Labels: none

add/interval undefined 시, 방어 코드 추가
  src/time-range/time-range.ts
Labels: none

@day1co/pebbles: bump up to 4.0.3
  package-lock.json
  package.json
Labels: repo

Upgrade dependencies
  package-lock.json
  package.json
  src/logger/logger-impl/pino-logger.ts
Labels: repo

Upgrade dependencies
  package-lock.json
  package.json
  src/logger/logger-impl/pino-logger.ts
Labels: repo

add/누락된 exception index에 추가
  src/index.ts
Labels: none

add/누락된 exception index에 추가
  src/index.ts
Labels: none

@day1co/pebbles: bump up to 4.1.1
  package-lock.json
  package.json
Labels: repo

fix audit by npm audit
  package-lock.json
Labels: repo
