Repository day1co/pebbles, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, enhancement, bug, maintenance, documentation, workflow

github: TimonVS의 pr labeler 제거
  .github/pr-labeler.yml
  .github/workflows/pr-labeler.yml
Labels: none

workflow: workflows/release-drafter.yml 재추가
  .github/workflows/release-drafter.yml
Labels: none

test
  .github/workflows/pr-labeler.yml
Labels: none

workflow: release-drafter를 액션에 다시 추가하기 위함
  .github/workflows/pr-labeler.yml
  .github/workflows/release-drafter.yml
Labels: none

workflow: 불필요한 요소 제거
  .github/workflows/pr-labeler.yml
  .github/workflows/release-drafter.yml
Labels: none

workflow: release-drafter는 permission 불필요
  .github/workflows/release-drafter.yml
Labels: none

workflow: pr-labeler, release-drafter 설정 수정
  .github/workflows/pr-labeler.yml
  .github/workflows/release-drafter.yml
Labels: none

workflow: release-drafter는 permission 불필요
  .github/workflows/release-drafter.yml
Labels: none

workflow: workflows/release-drafter.yml 재추가
  .github/workflows/release-drafter.yml
Labels: none

workflow: release-drafter.yml 수정
  .github/workflows/release-drafter.yml
Labels: none

workflow: 불필요한 요소 제거
  .github/workflows/pr-labeler.yml
  .github/workflows/release-drafter.yml
Labels: none

workflow: release-drafter를 액션에 다시 추가하기 위함
  .github/workflows/pr-labeler.yml
  .github/workflows/release-drafter.yml
Labels: none

feat: main directory에 index.ts 추가
  package.json
  src/index.ts
  src/string-util/index.ts
  tsconfig.json
Labels: repo

feat: tsc outDir이 프로젝트 root가 되도록 수정
  .eslintrc.cjs
  .gitignore
  .npmignore
  package.json
  src/index.ts
  tsconfig.json
Labels: repo

feat: tsc outDir이 lib이 되도록 수정
  .eslintrc.cjs
  .gitignore
  .npmignore
  package.json
  tsconfig.json
Labels: repo

fix: delete duplicated test code at date-util
  src/date-util/date-util.spec.ts
Labels: test

fix: src는 배포 대상에 포함시키기로 함
  .npmignore
Labels: repo

docs: PR 템플릿 문구 수정
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

feat: main directory에 index.ts 추가
  package.json
  src/index.ts
  src/string-util/index.ts
  tsconfig.json
Labels: repo

fix: src는 배포 대상에 포함시키기로 함
  .npmignore
Labels: repo

docs: PR 템플릿 문구 수정
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

feat: tsc outDir이 lib이 되도록 수정
  .eslintrc.cjs
  .gitignore
  .npmignore
  package.json
  tsconfig.json
Labels: repo

fix: delete duplicated test code at date-util
  src/date-util/date-util.spec.ts
Labels: test

fix: remove target path
  .github/workflows/npm-publish.yml
Labels: none

fix: trigger paths
  .github/workflows/npm-publish.yml
Labels: none

workflow: fix paths-ignore
  .github/workflows/npm-publish.yml
Labels: none

fix: trigger paths
  .github/workflows/npm-publish.yml
Labels: none

fix: remove target path
  .github/workflows/npm-publish.yml
Labels: none

workflow: fix paths-ignore
  .github/workflows/npm-publish.yml
Labels: none

feat: json-web-token 제거
  package-lock.json
  package.json
  src/json-web-token/index.ts
  src/json-web-token/json-web-token.interface.ts
  src/json-web-token/json-web-token.spec.ts
  src/json-web-token/json-web-token.ts
  src/json-web-token/json-web-token.type.ts
Labels: repo, test

feat: json-web-token 제거
  package-lock.json
  package.json
  src/json-web-token/index.ts
  src/json-web-token/json-web-token.interface.ts
  src/json-web-token/json-web-token.spec.ts
  src/json-web-token/json-web-token.ts
  src/json-web-token/json-web-token.type.ts
Labels: repo, test

workflow: npm token 이름 정정
  .github/workflows/ci-test.yml
  .github/workflows/npm-publish.yml
Labels: none

workflow: npm token 이름 정정
  .github/workflows/ci-test.yml
  .github/workflows/npm-publish.yml
Labels: none

feat: lodash 라이브러리를 import 하여 cloneDeep 구현
  package-lock.json
  package.json
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: repo, test

feat: 테스트코드 수정 및 dependencies 알파벳 순으로
  package.json
  src/object-util/object-util.spec.ts
Labels: repo, test

feat: date-util offsetUTC 구현
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

fix: 분 단위 인자 이름을 min에서 minute으로 수정
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

fix: date-util format에 default format 인자값 제공
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

fix: date-util: date offset 표기시 UTC기준 마이너스 시차도 표기되도록 수정
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

fix: date-util의 replaceDateInfo 인자 형태를 interface로 받도록 수정
  src/date-util/date-util.interface.ts
  src/date-util/date-util.ts
Labels: none

.github/labeler.yml:

repo:
  - '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - src/**/*.spec.ts

enhancement:
  - any: ['feat/*']

bug:
  - any: ['fix/*']

maintenance:
  - any: ['refactor/*']

documentation:
  - any: ['docs/*']

workflow:
  - any: ['workflow/*']
