Repository day1co/pebbles, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, enhancement, bug, maintenance, documentation, workflow

.github/labeler.yml:

repo:
  - '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - src/**/*.spec.ts

enhancement:
  - any: ['feat/*']

bug:
  - any: ['fix/*']

maintenance:
  - any: ['refactor/*']

documentation:
  - any: ['docs/*']

workflow:
  - any: ['workflow/*']

fix: 포맷 변경으로 인한 테스트 오류 수정
  src/date-util/date-util.spec.ts
Labels: test

feat: format이 임의의 타임존에 대해 출력 가능하도록 수정
  package-lock.json
  src/date-util/date-util-base.type.ts
  src/date-util/date-util.interface.ts
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
  src/date-util/date-util.type.ts
  src/date-util/index.ts
  src/index.ts
Labels: repo, test

fix: 테스트 오류 수정
  src/date-util/date-util.spec.ts
Labels: test

fix: timeZoneMap 추가 및 locale의 'en-US'를 'en'으로 변경
  src/date-util/date-util-base.type.ts
  src/date-util/date-util.ts
Labels: none

feat: format이 임의의 타임존에 대해 출력 가능하도록 수정
  package-lock.json
  src/date-util/date-util-base.type.ts
  src/date-util/date-util.interface.ts
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
  src/date-util/date-util.type.ts
  src/date-util/index.ts
  src/index.ts
Labels: repo, test

fix: 테스트 오류 수정
  src/date-util/date-util.spec.ts
Labels: test

fix: timeZoneMap 추가 및 locale의 'en-US'를 'en'으로 변경
  src/date-util/date-util-base.type.ts
  src/date-util/date-util.ts
Labels: none

@day1co/pebbles: bump up to 3.1.1
  package-lock.json
  package.json
Labels: repo

refactor: formatLocalTime을 deprecated 처리
  src/date-util/date-util.interface.ts
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

fix: fomatInIso8601의 opt 인자를 optional 처리
  src/date-util/date-util.ts
Labels: none

fix: warning 제거
  src/date-util/date-util.spec.ts
Labels: test

refactor: formatLocalTime을 deprecated 처리
  src/date-util/date-util.interface.ts
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: test

fix: fomatInIso8601의 opt 인자를 optional 처리
  src/date-util/date-util.ts
Labels: none

fix: warning 제거
  src/date-util/date-util.spec.ts
Labels: test

@day1co/pebbles: bump up to 3.1.2
  package-lock.json
  package.json
Labels: repo

Add TimeRange class
  src/misc-util/misc-util.interface.ts
  src/misc-util/misc-util.ts
Labels: none

Add TimeRange Test Cases
  src/misc-util/misc-util.spec.ts
Labels: test

Add TimeRange Test Cases
  src/misc-util/misc-util.spec.ts
Labels: test

Add TimeRange class
  src/misc-util/misc-util.interface.ts
  src/misc-util/misc-util.ts
Labels: none

@day1co/pebbles: bump up to 3.1.3
  package-lock.json
  package.json
Labels: repo

remove: allow 10ms error
  src/misc-util/misc-util.spec.ts
Labels: test

remove: allow 10ms error
  src/misc-util/misc-util.spec.ts
Labels: test

feat: escapeCsv() 추가
  package-lock.json
  src/index.ts
  src/string-util/index.ts
  src/string-util/string-util.const.ts
  src/string-util/string-util.ts
Labels: repo

feat: escapeCsv() 추가
  package-lock.json
  src/index.ts
  src/string-util/index.ts
  src/string-util/string-util.const.ts
  src/string-util/string-util.ts
Labels: repo

@day1co/pebbles: bump up to 3.1.4
  package-lock.json
  package.json
Labels: repo

move time-range
  src/misc-util/misc-util.interface.ts
  src/misc-util/misc-util.spec.ts
  src/misc-util/misc-util.ts
  src/time-range/index.ts
  src/time-range/time-range.interface.ts
  src/time-range/time-range.spec.ts
  src/time-range/time-range.ts
Labels: test

prettier
  src/misc-util/misc-util.interface.ts
Labels: none

change duration to interval
  src/time-range/time-range.interface.ts
  src/time-range/time-range.spec.ts
  src/time-range/time-range.ts
Labels: test

move time-range
  src/misc-util/misc-util.interface.ts
  src/misc-util/misc-util.spec.ts
  src/misc-util/misc-util.ts
  src/time-range/index.ts
  src/time-range/time-range.interface.ts
  src/time-range/time-range.spec.ts
  src/time-range/time-range.ts
Labels: test

prettier
  src/misc-util/misc-util.interface.ts
Labels: none

change duration to interval
  src/time-range/time-range.interface.ts
  src/time-range/time-range.spec.ts
  src/time-range/time-range.ts
Labels: test

@day1co/pebbles: bump up to 3.1.5
  package-lock.json
  package.json
Labels: repo

fix: bind this to its instance
  src/logger/pino-logger.spec.ts
  src/logger/pino-logger.ts
Labels: test

add time range index path
  README.md
  src/index.ts
Labels: repo

edit: readme timerange URL
  README.md
Labels: repo

add time range index path
  README.md
  src/index.ts
Labels: repo

edit: readme timerange URL
  README.md
Labels: repo

@day1co/pebbles: bump up to 3.1.6
  package-lock.json
  package.json
Labels: repo

feat: 한국 전화번호에 대한 처리
  package-lock.json
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
Labels: repo, test

feat: 전화번호에 050x- 케이스 추가
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
Labels: test
