Repository day1co/pebbles, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, enhancement, bug, maintenance, documentation, workflow

fix: Only named exports may use 'export type'
  src/type-util/index.ts
Labels: none

fix: Only named exports may use 'export type'
  src/type-util/index.ts
Labels: none

@day1co/pebbles: bump up to 3.1.50
  package-lock.json
  package.json
Labels: repo

fix: index.ts에 TypeUtil 정의 누락된 것들 추가
  src/index.ts
Labels: none

fix: index.ts에 TypeUtil 정의 누락된 것들 추가
  src/index.ts
Labels: none

@day1co/pebbles: bump up to 3.1.51
  package-lock.json
  package.json
Labels: repo

refactor: Testcodes descriptions
  src/date-util/date-util.spec.ts
Labels: test

feat: Add fromNow()
  package.json
  src/date-util/date-util.interface.ts
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: repo, test

@day1co/pebbles: bump up to 3.1.52
  package-lock.json
  package.json
Labels: repo

misc: add pino-datadog-transport
  package-lock.json
  package.json
Labels: repo

feat: add transportOption to constructor of Logger
  src/logger/logger-impl/pino-logger.ts
Labels: none

fix: toPermyriad의 return type에 undefined 제거
  src/number-util/number-util.ts
Labels: none

fix: toPermyriad의 return type에 undefined 제거
  src/number-util/number-util.ts
Labels: none

@day1co/pebbles: bump up to 3.1.53
  package-lock.json
  package.json
Labels: repo

feat: add setNextPagination
  src/misc-util/misc-util.ts
Labels: none

feat: setNextPagination 테스트코드
  src/misc-util/misc-util.spec.ts
Labels: test

feat: add setNextPagination
  src/misc-util/misc-util.ts
Labels: none

feat: setNextPagination 테스트코드
  src/misc-util/misc-util.spec.ts
Labels: test

@day1co/pebbles: bump up to 3.1.54
  package-lock.json
  package.json
Labels: repo

feat: setNextPagination 기능 보완
  src/misc-util/misc-util.spec.ts
  src/misc-util/misc-util.ts
Labels: test

feat: setNextPagination 기능 보완
  src/misc-util/misc-util.spec.ts
  src/misc-util/misc-util.ts
Labels: test

@day1co/pebbles: bump up to 3.1.55
  package-lock.json
  package.json
Labels: repo

add masking identification number
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
  src/string-util/string-util.type.ts
Labels: test

add masking identification number
  src/string-util/string-util.spec.ts
  src/string-util/string-util.ts
  src/string-util/string-util.type.ts
Labels: test

@day1co/pebbles: bump up to 3.1.56
  package-lock.json
  package.json
Labels: repo

maint: Node.js 20
  .github/workflows/ci-test.yml
  .github/workflows/npm-publish.yml
Labels: none

maint: Node.js 20
  .github/workflows/ci-test.yml
  .github/workflows/npm-publish.yml
Labels: none

misc: Node 20.x
  .github/workflows/ci-test.yml
  .github/workflows/npm-publish.yml
Labels: none

fix: array-util 스펙 수정
  src/array-util/array-util.spec.ts
Labels: test

workflow: actions/setup-node@v4
  .github/workflows/ci-test.yml
  .github/workflows/npm-publish.yml
Labels: none

workflow: actions/setup-node@v4
  .github/workflows/ci-test.yml
  .github/workflows/npm-publish.yml
Labels: none

add: time-range floating point
  src/number-util/number-util.spec.ts
  src/number-util/number-util.ts
  src/time-range/time-range.spec.ts
  src/time-range/time-range.ts
Labels: test

fix comment
  src/time-range/time-range.spec.ts
Labels: test

time-ragne: decimal option inject
  src/number-util/number-util.spec.ts
  src/number-util/number-util.ts
  src/time-range/time-range.spec.ts
  src/time-range/time-range.ts
Labels: test

fix comment
  src/time-range/time-range.spec.ts
Labels: test

add: time-range floating point
  src/number-util/number-util.spec.ts
  src/number-util/number-util.ts
  src/time-range/time-range.spec.ts
  src/time-range/time-range.ts
Labels: test

time-ragne: decimal option inject
  src/number-util/number-util.spec.ts
  src/number-util/number-util.ts
  src/time-range/time-range.spec.ts
  src/time-range/time-range.ts
Labels: test

@day1co/pebbles: bump up to 3.1.57
  package-lock.json
  package.json
Labels: repo

time-ragne: fix cale decimal interval
  src/time-range/time-range.spec.ts
  src/time-range/time-range.ts
Labels: test

add test case decimal
  src/number-util/number-util.spec.ts
Labels: test

.github/labeler.yml:

repo:
  - '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - src/**/*.spec.ts

enhancement:
  - any: ['feat/*']

bug:
  - any: ['fix/*']

maintenance:
  - any: ['refactor/*']

documentation:
  - any: ['docs/*']

workflow:
  - any: ['workflow/*']
