Repository day1co/pebbles, pull requests merged in 2021-12, with the labels that each got.

#61 fix: delete duplicated test code at date-util
  src/date-util/date-util.spec.ts
Labels: bug

#62 workflow: npm publish할 때 타겟 paths-ignores 설정
  .github/workflows/npm-publish.yml
Labels: workflow

#63 json-web-token 제거
  package-lock.json
  package.json
  src/json-web-token/index.ts
  src/json-web-token/json-web-token.interface.ts
  src/json-web-token/json-web-token.spec.ts
  src/json-web-token/json-web-token.ts
  src/json-web-token/json-web-token.type.ts
Labels: enhancement

#64 npm token 이름 정정
  .github/workflows/ci-test.yml
  .github/workflows/npm-publish.yml
Labels: workflow

#67 index.d.ts 오타 수정
  package.json
Labels: bug

#70 feat:http-client에 SERVICE_UNAVAILABLE 추가
  src/http-client/http-client.spec.ts
  src/http-client/http-state.enum.ts
Labels: enhancement

#69 FIX: git commit with package-lock.json
  .github/workflows/npm-publish.yml
Labels: bug

#71 fix:package.json 버전 0.0.3으로 올림
  package.json
Labels: bug

#72 workflow: 슬랙 메세지전송 코드를 호출할 때 hook url을 전달
  .github/npm-publish-slack.sh
  .github/workflows/npm-publish.yml
Labels: workflow

#74 fix: package-lock.json을 최신화
  package-lock.json
Labels: bug

#73 workflow: fix release drafter add wirte permission
  .github/workflows/release-drafter.yml
Labels: workflow

#76 fix: http-state-enum을 숫자 열거형으로 변경 및 spec 파일에서 http2 모듈로 검증하도록 수정
  src/http-client/http-client.spec.ts
  src/http-client/http-state.enum.ts
Labels: bug
