Repository day1co/pebbles, pull requests merged in 2022-06, with the labels that each got.

#141 fix: isEmpty의 object 체크를 typeof로 변경
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: bug

#142 true return과 false return 구분에 맞게 isEmpty 테스트 순서 조정
  src/object-util/object-util.spec.ts
Labels: object-util, maintenance

#143 fix: ChangedCredentialException를 CredentialChangedException로 변경
  src/exception/client-exception/changed-credential-exception.ts
  src/exception/client-exception/index.ts
  src/exception/exception.spec.ts
  src/exception/index.ts
  src/index.ts
Labels: bug

#144 fix: CredentialChangedException 파일명 수정
  src/exception/client-exception/credential-changed-exception.ts
  src/exception/client-exception/index.ts
Labels: bug

#146 UnknownException 클래스 추가
  package-lock.json
  src/exception/index.ts
  src/exception/server-exception/index.ts
  src/exception/server-exception/unknown-exception.ts
  src/index.ts
Labels: enhancement, exception
