Repository day1co/pebbles, pull requests merged in 2022-01, with the labels that each got.

#79 workflow: npm-publish-slack-message에 change log가 포함되도록 합니다
  .github/npm-publish-slack.sh
  .github/workflows/npm-publish.yml
Labels: workflow

#81 객체를 로깅할 때는 %o를 쓰도록 수정
  src/date-util/date-util.ts
  src/http-client/http-client.ts
Labels: bug

#82 fix: npm-publish.yml 파일의 script 문법 오류를 수정합니다
  .github/workflows/npm-publish.yml
Labels: bug, workflow

#80 fix: BooleanUtil.valueOf의 불필요한 toLowerCase문을 삭제합니다
  src/boolean-util/boolean-util.ts
Labels: boolean-util

#84 fix:npm publish의 CHANGE_LOG 변수를 문자열화 합니다
  .github/npm-publish-slack.sh
Labels: bug

#88 refactor: ObjectKeyType 적용
  src/object-util/object-util.ts
Labels: object-util, maintenance

#77 feat: object-util의 omit 구현
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: enhancement, object-util

#83 feat: DateUtil.parseUnixTime 구현 (PF-6)
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: enhancement, date-util

#89 fix: ObjectUtil.omit의 버그 수정
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: bug, object-util

#91 fix: DateUtil.parse 함수가 기존 값을 변형시키지 않도록 합니다
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: bug, date-util

#78 feat:object util is equal
  src/object-util/object-util.spec.ts
  src/object-util/object-util.ts
Labels: enhancement

#86 feat: DateUtil.format 정규표현식 수정 + formatDate, formatDatetime, formatTimestamp 구현
  src/date-util/date-util.spec.ts
  src/date-util/date-util.ts
Labels: enhancement, date-util

#93 README 수정
  README.md
Labels: documentation, ci-skip
