Repository day1co/pebbles, pull requests merged in 2024-06, with the labels that each got.

#219 feat: 시청구간을 이용하여 미시청구간을 구하는 기능 추가
  src/time-range/time-range.spec.ts
  src/time-range/time-range.ts
Labels: enhancement

#220 fix: MapUtil.get return type, to use function overloading
  src/map-util/map-util.ts
Labels: bug

#221 refactor: 미시청 마지막 구간에서 decimal 옵션으로 처리하도록 수정
  src/time-range/time-range.spec.ts
  src/time-range/time-range.ts
Labels: maintenance
