Repository day1co/pebbles, pull requests merged in 2024-01, with the labels that each got.

#206 feat: CryptoUtil.createAesKey 추가
  src/crypto-util/crypto-util.spec.ts
  src/crypto-util/crypto-util.ts
Labels: enhancement

#207 fix: CryptoUtil to index
  src/index.ts
Labels: enhancement

#201 misc: add dependabot
  .github/dependabot.yml
Labels: maintenance

#208 fix: remove declare globalThis crypto
  src/crypto-util/crypto-util.ts
Labels: enhancement

#210 time-range: merge 함수에서 interval계산에 소수점을 반영
  src/time-range/time-range.spec.ts
  src/time-range/time-range.ts
Labels: bug
